<template>
  <v-row dense>
    <v-col cols="3">
      <validation-provider
        v-slot="{ errors }"
        rules=""
        :name="'Field Name'"
      >
        <common-input-select
          v-model="internalValue.action"
          :error-messages="errors"
          color="primary"
          :label="'Action'"
          validate-on-blur
          :disabled="disabled"
          :items="CONSTS.FORM_CALCULATED_ACTIONS"
        />
      </validation-provider>
    </v-col>

    <v-col cols="12">
      <v-row
        v-for="(op, index) in internalValue.ops"
        :key="index"
        dense
      >
        <v-col cols="2">
          Field {{ index + 1 }}
        </v-col>
        <v-col cols="2">
          <validation-provider
            v-slot="{ errors }"
            rules=""
            :name="'Section'"
          >
            <common-input-select
              v-model="internalValue.ops[index].type"
              label="Type"
              :items="CONSTS.FORM_CALCULATED_FIELD_TYPE"
              :error-messages="errors"
              validate-on-blur
            />
          </validation-provider>
        </v-col>
        <v-col
          v-if="internalValue.ops[index].type === 'var'"
          cols="4"
        >
          <validation-provider
            v-slot="{ errors }"
            rules=""
            :name="'Section'"
          >
            <common-input-select
              v-model="internalValue.ops[index].sectionId"
              label="Field1"
              item-text="name"
              item-value="id"
              :items="availableSections"
              :error-messages="errors"
              validate-on-blur
            />
          </validation-provider>
        </v-col>

        <v-col
          v-if="internalValue.ops[index].type === 'var'"
          cols="4"
        >
          <validation-provider
            v-slot="{ errors }"
            rules=""
            :name="'Input'"
          >
            <common-input-select
              v-model="internalValue.ops[index].inputId"
              label="Input"
              color="primary"
              clearable
              item-text="id"
              item-value="id"
              :items="availableInputs(internalValue.ops[index].sectionId)"
              :error-messages="errors"
              validate-on-blur
            />
          </validation-provider>
        </v-col>
        <v-col
          v-if="internalValue.ops[index].type === 'const'"
          cols="4"
        >
          <validation-provider
            v-slot="{ errors }"
            rules=""
            :name="'Input'"
          >
            <common-input-text-field
              v-model="internalValue.ops[index].value"
              label="Value"
              :error-messages="errors"
              validate-on-blur
            />
          </validation-provider>
        </v-col>
      </v-row>
    </v-col>

    <v-col cols="12">
      <v-row dense>
        <v-col cols="2">
          Result
        </v-col>
        <v-col cols="2">
          <validation-provider
            v-slot="{ errors }"
            rules=""
            :name="'Round?'"
          >
            <common-input-select
              v-model="internalValue.res.round"
              label="Round?"
              :items="CONSTS.FORM_CALCULATED_ROUND_TYPE"
              :error-messages="errors"
              validate-on-blur
              hint="By default, it will be 2 decimals"
              persistent-hint
            />
          </validation-provider>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
  export default {
    name: 'AdditionalFields',

    components: {
    },

    props: {
      value: {
        type: Object,
        default: () => {},
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      isNew: {
        type: Boolean,
        default: false,
      },
      sections: {
        type: Array,
        default: () => [],
      },
    },

    data: () => ({
    }),

    computed: {
      availableSections () {
        return this.sections
          .filter(sec => sec.id)
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    watch: {
      internalValue: {
        handler (value) {
          if (!value.ops) {
            // 2 operators supported - both consts
            this.internalValue.ops = [{
              type: 'const',
            }, {
              type: 'const',
            }]
          }
          if (!value.res) {
            this.internalValue.res = {}
          }
        },
        immediate: true,
      },
    },

    methods: {
      availableInputs (sectionId) {
        if (sectionId) {
          const section = this.sections.find(sec => sec.id === sectionId)
          // todo: only filter selects/radios
          const defs = section
            ? section.definition.filter(def => def)
            : []

          return defs.filter(def => {
            return [
              this.CONSTS.FORM_DEF_INPUT_TYPE.TEXT,
              this.CONSTS.FORM_DEF_INPUT_TYPE.NUMBER,
              this.CONSTS.FORM_DEF_INPUT_TYPE.CURRENCY,
            ].indexOf(def.input) !== -1
          })
        } else {
          return []
        }
      },
    },
  }
</script>
