<template>
  <v-row>
    <v-col cols="12">
      <validation-provider
        v-slot="{ errors }"
        :name="'SelectAll'"
      >
        <v-switch
          v-model="internalValue.selectAll"
          :disabled="disabled"
          :label="'SelectAll'"
          :error-messages="errors"
          :hide-details="errors.length === 0"
          validate-on-blur
        />
      </validation-provider>
    </v-col>
    <v-col cols="12">
      <radio
        v-model="internalValue"
        :disabled="disabled"
        :sections="sections"
      />
    </v-col>
  </v-row>
</template>
<script>
  import Radio from './Radio'
  export default {
    name: 'AdditionalFields',
    components: {
      Radio,
    },
    props: {
      value: {
        type: Object,
        default: () => {},
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      sections: {
        type: Array,
        default: () => [],
      },
    },
    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },
  }
</script>
