<template>
  <v-row
    v-if="FieldDetails"
    dense
  >
    <v-col cols="12">
      <v-subheader class="pa-0 text-h4">
        Additional Fields
      </v-subheader>
    </v-col>

    <v-col cols="12">
      <component
        :is="FieldDetails"
        v-model="internalValue"
        :disabled="disabled"
        :is-common="isCommon"
        :sections="sections"
      />
    </v-col>
  </v-row>
</template>

<script>
  import StaticModal from './StaticModal'
  import Slider from './Slider'
  import Timeline from './Timeline'
  import Radio from './Radio'
  import DataFile from './DataFile'
  import Calculated from './Calculated'
  import DraggableList from './DraggableList'
  import CheckList from './CheckList'
  import TextField from './TextField'

  export default {
    name: 'AdditionalFields',

    components: {
    },

    props: {
      value: {
        type: Object,
        default: () => {},
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      isCommon: {
        type: Boolean,
        default: false,
      },
      sections: {
        type: Array,
        default: () => [],
      },
    },

    data: () => ({
    }),

    computed: {
      FieldDetails () {
        switch (this.internalValue.input) {
          case this.CONSTS.FORM_DEF_INPUT_TYPE.STATIC_MODAL: {
            return StaticModal
          }
          case this.CONSTS.FORM_DEF_INPUT_TYPE.SLIDER: {
            return Slider
          }
          case this.CONSTS.FORM_DEF_INPUT_TYPE.TIMELINE: {
            return Timeline
          }
          case this.CONSTS.FORM_DEF_INPUT_TYPE.RADIO:
          case this.CONSTS.FORM_DEF_INPUT_TYPE.SELECT:
          case this.CONSTS.FORM_DEF_INPUT_TYPE.SELECT_MULTI: {
            return Radio
          }
          case this.CONSTS.FORM_DEF_INPUT_TYPE.DATA_FILE: {
            return DataFile
          }
          case this.CONSTS.FORM_DEF_INPUT_TYPE.CALCULATED: {
            return Calculated
          }
          case this.CONSTS.FORM_DEF_INPUT_TYPE.DRAGGABLE_LIST: {
            return DraggableList
          }
          case this.CONSTS.FORM_DEF_INPUT_TYPE.CHECK_LIST: {
            return CheckList
          }
          case this.CONSTS.FORM_DEF_INPUT_TYPE.TEXT: {
            return TextField
          }
        }

        return null
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },
  }
</script>
