<template>
  <v-row dense>
    <v-col cols="3">
      <validation-provider
        v-slot="{ errors }"
        rules=""
        :name="'Field Name'"
      >
        <common-input-text-field
          v-model="internalValue.fieldName"
          :error-messages="errors"
          color="primary"
          :label="'Field Name'"
          validate-on-blur
          :disabled="disabled"
        />
      </validation-provider>
    </v-col>
    <v-col cols="3">
      <validation-provider
        v-slot="{ errors }"
        rules=""
        :name="'Section'"
      >
        <common-input-select
          v-model="internalValue.sectionId"
          label="Section"
          color="primary"
          clearable
          item-text="name"
          item-value="id"
          :items="availableSections"
          :error-messages="errors"
          validate-on-blur
        />
      </validation-provider>
    </v-col>
    <v-col cols="3">
      <validation-provider
        v-slot="{ errors }"
        rules=""
        :name="'Input'"
      >
        <common-input-select
          v-model="internalValue.inputId"
          label="Input"
          color="primary"
          clearable
          item-text="id"
          item-value="id"
          :items="availableInputs"
          :error-messages="errors"
          validate-on-blur
        />
      </validation-provider>
    </v-col>
    <v-col cols="2">
      <validation-provider
        v-slot="{ errors }"
        rules=""
        :name="'If condition'"
      >
        <common-input-select
          v-model="internalValue.compare"
          label="If"
          color="primary"
          clearable
          :items="CONSTS.FORM_SELECT_QUERY_COMPARATORS"
          :error-messages="errors"
          validate-on-blur
        />
      </validation-provider>
    </v-col>
    <v-col class="d-flex align-center justify-center">
      <common-trs-btn
        v-if="!isNew"
        type="tertiary"
        icon
        @click="$emit('remove', value)"
      >
        <v-icon>mdi-close</v-icon>
      </common-trs-btn>
      <common-trs-btn
        v-if="isNew"
        type="tertiary"
        icon
        :disabled="!valid"
        @click="add"
      >
        <v-icon>mdi-plus</v-icon>
      </common-trs-btn>
    </v-col>
  </v-row>
</template>

<script>
  export default {
    name: 'AdditionalFields',

    components: {
    },

    props: {
      value: {
        type: Object,
        default: () => {},
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      isNew: {
        type: Boolean,
        default: false,
      },
      sections: {
        type: Array,
        default: () => [],
      },
    },

    data: () => ({
    }),

    computed: {
      availableSections () {
        return this.sections
          .filter(sec => sec.id)
      },
      availableInputs () {
        if (this.internalValue.sectionId) {
          const section = this.sections.find(sec => sec.id === this.internalValue.sectionId)
          // todo: only filter selects/radios
          return section
            ? section.definition.filter(def => def)
            : []
        } else {
          return []
        }
      },
      valid () {
        return this.internalValue.sectionId && this.internalValue.inputId && this.internalValue.fieldName && this.internalValue.compare
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    watch: {
      internalValue: {
        handler (value) {
        },
        immediate: true,
      },
    },

    methods: {
      add (event) {
        this.$emit('add', event)
      },
    },
  }
</script>
