<template>
  <v-row dense>
    <v-col cols="6">
      <validation-provider
        v-slot="{ errors }"
        rules="numeric"
        :name="'Min'"
      >
        <common-input-text-field
          v-model="internalValue.min"
          :disabled="disabled"
          type="number"
          :error-messages="errors"
          color="primary"
          :label="'Min'"
          validate-on-blur
        />
      </validation-provider>
    </v-col>
    <v-col cols="6">
      <validation-provider
        v-slot="{ errors }"
        rules=""
        :name="'Min Label'"
      >
        <common-input-text-field
          v-model="internalValue.minLabel"
          :disabled="disabled"
          :error-messages="errors"
          color="primary"
          :label="'Min Label'"
          validate-on-blur
        />
      </validation-provider>
    </v-col>
    <v-col cols="6">
      <validation-provider
        v-slot="{ errors }"
        rules="numeric"
        :name="'Max'"
      >
        <common-input-text-field
          v-model="internalValue.max"
          :disabled="disabled"
          type="number"
          :error-messages="errors"
          color="primary"
          :label="'Max'"
          validate-on-blur
        />
      </validation-provider>
    </v-col>
    <v-col cols="6">
      <validation-provider
        v-slot="{ errors }"
        rules=""
        :name="'Max Label'"
      >
        <common-input-text-field
          v-model="internalValue.maxLabel"
          :disabled="disabled"
          :error-messages="errors"
          color="primary"
          :label="'Max Label'"
          validate-on-blur
        />
      </validation-provider>
    </v-col>
  </v-row>
</template>

<script>
  export default {
    name: 'AdditionalFields',

    components: {
    },

    props: {
      value: {
        type: Object,
        default: () => {},
      },
      disabled: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
    }),

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },
  }
</script>
