<template>
  <v-row dense>
    <v-col cols="12">
      <validation-provider
        v-slot="{ errors }"
        rules="required"
        :name="'Modal Body'"
      >
        <common-input-textarea
          v-model="internalValue.modalBody"
          :disabled="disabled"
          label="Modal Body (HTML)"
          color="primary"
          :error-messages="errors"
          validate-on-blur
        />
      </validation-provider>
    </v-col>
    <v-col cols="12">
      <validation-provider
        v-slot="{ errors }"
        rules=""
        :name="'Max Width'"
      >
        <common-input-text-field
          v-model="internalValue.modalMaxWidth"
          :disabled="disabled"
          label="Max Width"
          color="primary"
          :error-messages="errors"
          validate-on-blur
          placholder="500"
          type="number"
        />
      </validation-provider>
    </v-col>
  </v-row>
</template>

<script>
  export default {
    name: 'AdditionalFields',

    components: {
    },

    props: {
      value: {
        type: Object,
        default: () => {},
      },
      disabled: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
    }),

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },
  }
</script>
