<template>
  <v-row>
    <v-col cols="6">
      <validation-provider
        v-slot="{ errors }"
        rules=""
        :name="'Mask'"
      >
        <common-input-text-field
          v-model="internalValue.maskField"
          :mask="internalValue"
          :error-messages="errors"
          color="primary"
          :append-outer-icon="showDialog ? 'mdi-information' : 'mdi-information'"
          :label="'Mask'"
          validate-on-blur
          :disabled="disabled"
          @click:append-outer="showDialog = !showDialog"
        />
      </validation-provider>
      <v-row justify="center">
        <v-dialog
          v-model="showDialog"
          max-width="400px"
        >
          <common-trs-modal-card>
            <common-trs-modal-card-title class="trs--Text">
              Masking Formats
              <common-trs-btn
                aria-label="Close"
                type="secondary"
                class="rounded-0"
                color="primary"
                size="large"
                icon
                text
                @click="showDialog = !showDialog"
              >
                <v-icon>mdi-close</v-icon>
              </common-trs-btn>
            </common-trs-modal-card-title>
            <v-divider />
            <common-trs-modal-card-text style="height: 400px;">
              <v-simple-table class="trs--Text">
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th class="text-left">
                        Placeholder
                      </th>
                      <th class="text-left">
                        Format
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="item in data"
                      :key="item.placeholder"
                    >
                      <td>{{ item.placeholder }}</td>
                      <td>{{ item.format }}</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </common-trs-modal-card-text>
          </common-trs-modal-card>
        </v-dialog>
      </v-row>
    </v-col>
  </v-row>
</template>
<script>
  export default {
    name: 'AdditionalFields',

    components: {
    },

    props: {
      value: {
        type: Object,
        default: () => {},
      },
      disabled: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      showDialog: false,
      data: [
        {
          placeholder: '#',
          format: 'Number (0-9)',
        },
        {
          placeholder: 'A',
          format: 'Letter in any case (a-z,A-Z)',
        },
        {
          placeholder: 'N',
          format: 'Number or letter (a-z,A-Z,0-9)',
        },
        {
          placeholder: 'X',
          format: 'Any symbol',
        },
        {
          placeholder: '?',
          format: 'Optional (next character)',
        },
      ],
    }),

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },
  }
</script>
