<template>
  <v-dialog
    v-model="internalValue"
    :max-width="800"
  >
    <template v-slot:activator="{ on }">
      <slot
        name="activator"
        v-bind="{ on }"
      />
    </template>
    <common-trs-modal-card>
      <common-trs-modal-card-title>
        <common-trs-modal-card-title-content>
          Edit Document
        </common-trs-modal-card-title-content>

        <common-trs-btn
          aria-label="Close"
          type="secondary"
          class="rounded-0"
          color="primary"
          size="large"
          icon
          text
          @click="closeSimple"
        >
          <v-icon>mdi-close</v-icon>
        </common-trs-btn>
      </common-trs-modal-card-title>

      <common-trs-modal-card-text v-if="document">
        <common-input-textarea
          v-if="document.details"
          v-model="document.details.comment"
          color="primary"
          :label="'Leave comments above the document (optional)'"
          validate-on-blur
          hide-details
          rows="3"
        />
      </common-trs-modal-card-text>

      <common-trs-modal-card-actions>
        <common-trs-btn
          class="mr-3 primary--text"
          type="tertiary"
          text
          @click="close"
        >
          Cancel
        </common-trs-btn>

        <common-trs-btn
          type="primary"
          text
          class="white--text"
          @click="onYes"
        >
          Upload
        </common-trs-btn>
      </common-trs-modal-card-actions>
    </common-trs-modal-card>
  </v-dialog>
</template>
<script>
  export default {
    name: 'InputTemplateDataEditModal',

    components: { },

    props: {
    },

    data () {
      return {
        internalValue: false,
        document: null,
      }
    },

    computed: {

    },
    methods: {
      onReady () {

      },
      onCrop () {},
      async open (options) {
        this.internalValue = true
        this.document = options.document

        return new Promise((resolve, reject) => {
          this.resolve = resolve
          this.reject = reject
        })
      },
      closeSimple (ev) {
        this.internalValue = false
        this.resolve && this.reject()
      },
      close (ev) {
        this.internalValue = false
        this.reject && this.resolve(this.document)
      },
      onYes (ev) {
        this.internalValue = false
        this.resolve && this.resolve(this.document)
      },
    },
  }
</script>
<style lang="scss" scoped>

</style>
