<template>
  <common-common-side-modal
    class="ml-auto"
    title="Address"
    :max-width="600"
  >
    <template v-slot:activator="{ on }">
      <common-trs-btn
        icon
        type="tertiary"
        v-on="on"
      >
        <v-icon>mdi-pencil</v-icon>
      </common-trs-btn>
    </template>
    <template v-slot="{ close }">
      <validation-observer
        v-slot="{ valid }"
      >
        <common-trs-modal-card-text>
          <v-row>
            <v-col
              v-for="(templ, index) in formTempls"
              :key="index"
              :sm="templ.smCol ? templ.smCol : 12"
              :md="templ.mdCol ? templ.mdCol : 12"
            >
              <form-templates-input-template
                :input-templ="templ"
                :section-values="internalValue"
                :mode="'edit'"
                :use-dot-prop-access="true"
                :api-services="apiServices"
                :input-values="internalValue"
                @update="updateField"
              />
            </v-col>
            <!--             <v-col>
              <pre>
{{ JSON.stringify(internalValue, null, 2) }}
              </pre>
            </v-col> -->
          </v-row>
        </common-trs-modal-card-text>
        <common-trs-modal-card-actions>
          <v-spacer />
          <common-trs-btn
            type="primary"
            class="white--text"
            :disabled="!valid"
            @click="save(close)"
          >
            Save
          </common-trs-btn>
        </common-trs-modal-card-actions>
      </validation-observer>
    </template>
  </common-common-side-modal>
</template>

<script>
  import { COMMON_FULL_ADDRESS_FORM } from '@/constants'

  export default {
    name: 'InputTemplateAddressModal',

    components: {
      FormTemplatesInputTemplate: () => import('../InputTemplate'),
    },

    props: {
      value: {
        type: Object,
      },
      shouldRequire: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      internalValue: {},
      apiServices: {},
    }),

    computed: {
      formTempls () {
        // if shouldRequire is true, then the form element's required should true
        return COMMON_FULL_ADDRESS_FORM.map(ele => {
          if (this.shouldRequire && ele.shouldRequire) {
            return { ...ele, mandatory: true }
          } else {
            return ele
          }
        })
      },
    },

    watch: {
      value: {
        handler (val) {
          this.internalValue = { ...val }
        },
        deep: true,
        immediate: true,
      },
    },

    created () {
      this.apiServices = {
        getValueFromSection: (values, sectionId, inputId) => {
          return values[inputId]
        },
      }
    },

    methods: {
      updateField (id, val) {
        this.$setObjectDeepValue(this.internalValue, id, val)
        this.internalValue = { ...this.internalValue }
      },
      save (close) {
        this.$emit('input', this.internalValue)
        close()
      },
    },
  }
</script>
<style lang="scss" scoped>
  .submit-ioi-btn {
    position: relative;
  }
  .ioi_value {
    position: absolute;
    top: -25px;
    left: 0px;
    color: #000;
  }
</style>
