<template>
  <common-common-preview-file-line-wrapper
    :title="title"
    :mime-type="doc.mime_type"
    :url="doc.signed_url"
    :has-download-btn="true"
    :loading="loading"
    @onModalOpenChanged="onModalOpenChanged"
  >
    <template v-slot:activator="{ on }">
      <slot
        name="activator"
        v-bind="{ on }"
      />
    </template>
  </common-common-preview-file-line-wrapper>
</template>

<script>
  import { getDocumentById } from '../utils'

  export default {
    name: 'InputTemplateFilePreviewLine',

    props: {
      value: {
        validate: () => true,
        required: true,
      },
      title: {
        type: String,
        required: true,
      },
    },

    data: () => ({
      doc: {},
      loading: false,
    }),

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    created () {
    },

    methods: {
      onModalOpenChanged (val) {
        if (val) {
          this.loadDocument(this.internalValue)
        }
      },
      async loadDocument (documentId) {
        this.loading = true
        if (!documentId) {
          this.doc = {}
        } else {
          this.doc = await getDocumentById(documentId)
        }
        this.loading = false
      },
    },
  }
</script>
<style lang="scss" scoped>
</style>
