<template>
  <div>
    <common-input-autocomplete
      v-if="type === CONSTS.FORM_DEF_INPUT_TYPE.SELECT || type === CONSTS.FORM_DEF_INPUT_TYPE.SELECT_MULTI"
      :value="parsedInternalValue"
      clearable
      chips
      deletable-chips
      hide-selected
      :multiple="type === CONSTS.FORM_DEF_INPUT_TYPE.SELECT_MULTI"
      :item-text="itemText"
      :item-value="itemValue"
      v-bind="$attrs"
      :items="items"
      :loading="loading"
      return-object
      @change="selectChanged"
      v-on="$listeners"
    >
      <template v-slot:label>
        <slot name="label" />
      </template>
      <template v-slot:item="{ item }">
        <div
          class="v-list-item__content"
        >
          <div
            class="v-list-item__title"
            v-html="itemText(item)"
          />
        </div>
      </template>
      <template v-slot:selection="{ attrs, item, parent, select, selected }">
        <v-chip
          v-if="type === CONSTS.FORM_DEF_INPUT_TYPE.SELECT_MULTI"
          close
          :input-value="selected"
          class="select-item-chip"
          @click="select"
          @click:close="() => parent.onChipInput(item)"
        >
          <div v-html="itemText(item)" />
        </v-chip>
        <div
          v-else
          v-html="itemText(item)"
        />
      </template>
    </common-input-autocomplete>

    <div
      v-if="type === CONSTS.FORM_DEF_INPUT_TYPE.CHECK_LIST"
    >
      <v-row no-gutters>
        <v-col
          cols="12"
          class="mb-1"
        >
          <common-input-label
            class="text-left"
            :class="{ 'error--text': $attrs['hide-details'] && $attrs['error-messages'] && $attrs['error-messages'].length > 0 }"
          >
            <slot name="label">
              <span v-if="$attrs.label">{{ $attrs.label }}</span>
            </slot>
          </common-input-label>
        </v-col>

        <!-- Select all checkbox field starts -->
        <v-col
          v-if="selectAll"
          cols="12"
        >
          <v-checkbox
            color="primary"
            label="Select All"
            @change="selectAllItems()"
          />
          <v-divider />
        </v-col>
        <!-- Select all checkbox field ends -->

        <v-col cols="12">
          <v-progress-linear
            v-if="loading"
            color="primary"
            indeterminate
          />

          <v-checkbox
            v-for="(item, index) in items"
            :key="index"
            v-model="internalValue"
            color="primary"
            :label="itemText(item)"
            :value="itemValue(item)"
            :input-value-="internalValue"
            multiple
            @change-="selectChanged"
          />
        </v-col>
      </v-row>
    </div>

    <common-input-radio-group
      v-if="type === CONSTS.FORM_DEF_INPUT_TYPE.RADIO"
      v-bind="$attrs"
      :loading="loading"
      :value="itemInitVal"
      v-on="$listeners"
      @change="radioGroupChanged"
    >
      <template v-slot:label>
        <slot name="label" />
      </template>
      <common-input-radio
        v-for="(item, index) in items"
        :key="index"
        :label="itemText(item)"
        :value="itemValue(item)"
      >
        <template
          v-slot:label
        >
          <div
            v-html="itemText(item)"
          />
        </template>
      </common-input-radio>
    </common-input-radio-group>
  </div>
</template>

<script>
  import { api } from '@/api'
  import { FORM_DEF_DATA_SOURCE_TYPES } from '@/constants'
  import * as captableService from '@/components/common/captable/services/captable'
  const FORM_DEF_DATA_SOURCE_TYPES_VALUES = FORM_DEF_DATA_SOURCE_TYPES.map(v => v.value)
  export default {
    name: 'BaseFormBuilderDataEntityItemSelector',

    props: {
      value: {
        required: true,
        validator: v => true,
      },
      type: {
        required: true,
        type: String,
      },
      dataSource: {
        required: true,
        validator: (val) => FORM_DEF_DATA_SOURCE_TYPES_VALUES.includes(val),
        default: 'inline',
      },
      entity: {
        required: false,
        default: null,
      },
      inlineData: {
        type: Array,
        default: () => [],
      },
      isCommon: {
        type: Boolean,
      },
      apiServices: {
        type: Object,
        default: () => {},
      },
      radioIdFieldName: {
        type: String,
        default: 'id',
      },
      radioNameFieldName: {
        type: String,
        default: 'name',
      },
      radioQueries: {
        type: Array,
        default: () => ([]),
      },
      inputValues: {
        type: Object,
        default: () => ({}),
      },
      selectAll: {
        type: Boolean,
        default: false,
      },
      fallbackCommon: {
        type: Boolean,
        default: false,
      },
      reloadData: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      entityItems: [],
      loading: false,
      checkboxSelectAll: false,
      allValue: null,
      doFallbackRequests: false,
    }),

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
      items () {
        if (this.dataSource === this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.ENTITY ||
          this.dataSource === this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.ENTITY_COMMON) {
          let filteredItems = this.entityItems

          if (this.radioQueries && this.radioQueries.length > 0) {
            this.radioQueries.forEach(query => {
              try {
                const val = this.apiServices.getValueFromSection(this.inputValues, query.sectionId, query.inputId)

                if (val && val.id) {
                  filteredItems = filteredItems.filter(item => {
                    // comparison logic
                    switch (query.compare) {
                      case this.CONSTS.FORM_SELECT_QUERY_COMPARATOR.EQUAL:
                        return item[query.fieldName] === val.id

                      case this.CONSTS.FORM_SELECT_QUERY_COMPARATOR.STARTS_WITH:
                        return item[query.fieldName].indexOf(val.id) === 0
                    }

                    return false
                  })
                }
              } catch (err) {
                console.log(err)
                // skip
              }
            })
          }

          return filteredItems
        } else if (this.isInlineSource()) {
          return this.inlineData
        } else if (this.dataSource === this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.CYNDX) {
          return this.entityItems
        } else {
          return []
        }
      },
      parsedInternalValue () {
        if (this.dataSource === this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.INLINE_INDEX) {
          if (this.type === this.CONSTS.FORM_DEF_INPUT_TYPE.SELECT_MULTI) {
            return (this.internalValue || []).map(idx => this.inlineData[idx])
          } else {
            return this.inlineData[this.internalValue[0]]
          }
        }
        return this.internalValue
      },
      itemInitVal () {
        if (this.internalValue && this.dataSource === this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.INLINE_INDEX) {
          if (this.type === this.CONSTS.FORM_DEF_INPUT_TYPE.SELECT_MULTI) {
            return this.internalValue
          } else {
            return this.internalValue[0]
          }
        } else if (this.dataSource === this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.INLINE) {
          return this.internalValue
        } else {
          return this.internalValue ? this.internalValue.id : ''
        }
      },
      issuerId () {
        return this.$store.getters['auth/issuer']
      },
    },

    watch: {
      entity (val) {
        this.loadItems()
      },
      dataSource (val) {
        this.loadItems()
      },
      isCommon (val) {
        this.loadItems()
      },
      reloadData (val) {
        if (val) {
          this.loadItems()
        }
      },
    },

    created () {
      this.loadItems()
    },

    mounted () {
      if (this.dataSource === this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.INLINE_INDEX && this.value) {
        const index = this.inlineData.findIndex(s => s === this.value)
        if (index >= 0) {
          this.internalValue = [index]
        }
      }
    },

    methods: {
      radioGroupChanged (val) {
        if (this.dataSource === this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.INLINE_INDEX) {
          this.internalValue = [val]
        } else if (this.dataSource === this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.INLINE) {
          this.internalValue = val
        } else {
          this.internalValue = this.items.find(v => v.id === val)
        }
      },
      selectChanged (val, val2) {
        if (this.dataSource === this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.INLINE_INDEX) {
          if (this.type === this.CONSTS.FORM_DEF_INPUT_TYPE.SELECT_MULTI) {
            this.internalValue = val.map(v => this.inlineData.findIndex(s => s === v))
          } else {
            this.internalValue = [this.inlineData.findIndex(s => s === val)]
          }
        } else if (this.type === this.CONSTS.FORM_DEF_INPUT_TYPE.CHECK_LIST) {
          // if (!Array.isArray(this.internalValue)) {
          //   this.internalValue = []
          // }
          // if (this.internalValue.indexOf(val) === -1) {
          //   this.internalValue.push(val)
          // } else {
          //   this.internalValue.splice(this.internalValue.indexOf(val), 1)
          // }
          // console.log(this.internalValue)
        } else {
          this.internalValue = val
        }
      },
      itemText (item) {
        if (this.isInlineSource()) {
          return item
        } else {
          return item[this.radioNameFieldName]
        }
      },
      itemValue (item) {
        if (this.dataSource === this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.INLINE_INDEX) {
          return this.items.findIndex(v => v === item)
        }
        if (this.dataSource === this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.INLINE) {
          return item
        }

        if (this.type === this.CONSTS.FORM_DEF_INPUT_TYPE.CHECK_LIST) {
          return item
        }
        return item[this.radioNameFieldName]
      },
      async loadItems () {
        if (this.entity &&
          (this.dataSource === this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.ENTITY || this.dataSource === this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.ENTITY_COMMON || this.dataSource === this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.CYNDX)) {
          this.entityItems = []
          this.loading = true
          try {
            if (this.dataSource === this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.ENTITY_COMMON &&
              this.entity === 'countries' &&
              this.apiServices &&
              this.apiServices.entityGetCountries) {
              const response = await this.apiServices.entityGetCountries()
              this.entityItems = response.value
            } else if (this.dataSource === this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.ENTITY_COMMON &&
              this.entity === 'states' &&
              this.apiServices &&
              this.apiServices.entityGetStates) {
              const response = await this.apiServices.entityGetStates()
              this.entityItems = response.value
            } else if (this.dataSource === this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.CYNDX && this.entity === 'share_terms') {
              const shareTermRes = await captableService.getShareTermList(this.issuerId.issuer.id)
              const shareTermsTempData = []
              shareTermRes.data.share_terms.map((item) => {
                shareTermsTempData.push({ share_terms_id: item.id, name: item.name, financing_round_id: item.financing_round_id, board_approved_on: item.board_approved_on })
              })
              this.entityItems = shareTermsTempData
            } else {
              const params = null

              let base = this.isCommon ? 'common' : ''
              if (this.doFallbackRequests) {
                base = 'common'
              }

              this.entityItems = (await api.get(`data-entities/${this.entity}`, { params }, { base })).data.value
            }
          } catch (err) {
            if (this.fallbackCommon && !this.doFallbackRequests) {
              this.doFallbackRequests = true
              this.loadItems()
            } else {
              this.$store.dispatch('app/handleError', {
                err,
                message: `Failed to load ${this.entity} data`,
              })
            }
          }
          this.loading = false
        }
      },
      isInlineSource () {
        return [this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.INLINE, this.CONSTS.FORM_DEF_DATA_SOURCE_TYPE.INLINE_INDEX].includes(this.dataSource)
      },
      selectAllItems () {
        this.checkboxSelectAll = !this.checkboxSelectAll
        this.internalValue = this.checkboxSelectAll ? this.items : []
      },
    },
  }
</script>
<style lang="scss" scoped>
  .select-item-chip {
    height: auto;
  }
  ::v-deep .v-chip {
    white-space: break-spaces;
  }
  ::v-deep .v-select.v-text-field--enclosed:not(.v-text-field--single-line):not(.v-text-field--outlined) .v-select__selections {
    padding-top: 25px;
  }
  .v-autocomplete, .v-select {
    ::v-deep .v-select__slot v-input {
      overflow: visible;
      white-space: normal;
    }
  }
</style>
