<template>
  <input-template
    :input-templ="templ"
    :section-values="internalValue"
    :mode="'edit'"
    :use-dot-prop-access="true"
    @update="updateField"
  />
</template>

<script>
  import InputTemplate from './InputTemplate'
  export default {
    name: 'FormEntitySelector',

    components: {
      InputTemplate,
    },

    props: {
      value: {
        type: Object,
        default: () => {},
      },
      templ: {
        type: Object,
        required: true,
      },
    },

    data: () => ({
    }),

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    watch: {
    },

    async created () {
    },

    methods: {
      updateField (id, val) {
        this.$emit('update', id, val)
      },
    },
  }
</script>

<style lang="scss" scoped>
</style>
