<template>
  <validation-provider
    v-slot="{ errors }"
    :rules="ruleSets"
    :name="inputTempl.label"
    :vid="inputTempl.id"
  >
    <common-input-label
      v-if="$formTemplInputLongLabel(inputTempl)"
      class="mb-1"
      v-text="$formTemplInputLongLabel(inputTempl)"
    />
    <common-input-currency-input
      v-if="mode !== 'view'"
      v-model="internalValue"
      :error-messages="errors"
      :hide-details="errors.length === 0"
      color="primary"
      :label="$formTemplInputShortLabel(inputTempl)"
      validate-on-blur
      :persistent-hint="mode !== 'view'"
      :options="{ locale: 'en-US', precision: inputTempl.precision || 0 }"
      prepend-inner-icon="mdi-currency-usd"
      v-bind="inputTempl.inputProps"
    />
    <div
      v-if="mode !== 'view'"
      class="input-template-comment mt-2"
      v-html="inputTempl.comment"
    />

    <v-row
      v-else
      dense
      class="form-template-view-input-row"
    >
      <v-col cols="6">
        <span class="form-template-view-input-label">
          {{ `${inputTempl.label}${inputTempl.mandatory ? '*' :''}` }}
        </span>
      </v-col>
      <v-col cols="6">
        {{ $currency(internalValue) || '-' }}
      </v-col>
    </v-row>
  </validation-provider>
</template>

<script>
  export default {
    name: 'InputTemplateCurrency',

    props: {
      value: {
        validate: () => true,
        required: true,
      },
      inputTempl: {
        type: Object,
      },
      sectionValues: {
        type: Object,
      },
      mode: {
        type: String,
      },
      useDotPropAccess: {
        type: Boolean,
      },
    },

    data: () => ({
      // internalValue: '',
    }),

    computed: {
      ruleSets () {
        const ruleSets = {}
        if (this.inputTempl.mandatory) {
          ruleSets.required = true
        }
        if (this.inputTempl.regex) {
          ruleSets.regex = RegExp(this.inputTempl.regex)
        }
        if (typeof this.inputTempl.min_value !== 'undefined') {
          ruleSets.min_value = this.inputTempl.min_value
        }
        if (typeof this.inputTempl.max_value !== 'undefined') {
          ruleSets.max_value = this.inputTempl.max_value
        }
        return { ...ruleSets, ...this.inputTempl.customRuleSets }
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },
  }
</script>
