<template>
  <validation-provider
    v-slot="{ errors }"
    :rules="ruleSets"
    :name="inputTempl.label"
    :vid="inputTempl.id"
  >
    <common-input-s3-upload
      v-if="mode !== 'view'"
      v-model="internalValue"
      :error-messages="errors"
      :hide-details="errors.length === 0"
      :file-type="CONSTS.FILE_TYPES.IMAGE"
      :crop-settings="{ doCrop: true }"
    >
      <template v-slot:preview="{ loading, file, url, openFileDialog, progress }">
        <div class="d-flex">
          <div class="flex-fill mr-2">
            <v-img
              v-if="url"
              contain
              :src="url"
              max-width="150"
              :loading="loading"
              :gradient="`to top, rgba(0, 0, 0, ${inputTempl.overlayPercent/100 || 0}), rgba(0, 0, 0, ${inputTempl.overlayPercent/100 || 0})`"
              class="mt-2"
            />

            <div
              v-else
            >
              No Image
            </div>
          </div>
          <div>
            <common-input-label
              v-if="mode !== 'view'"
              class="mb-2"
            >
              {{ inputTempl.label }}
              <span v-if="!inputTempl.mandatory"> (optional)</span>
            </common-input-label>

            <common-common-preview-file-line-wrapper
              v-if="url"
              title="Uploaded Image"
              :mime-type="'image/png'"
              :url="url"
              :has-download-btn="true"
              class="my-2"
            />

            <div v-if="inputTempl.helperTexts">
              <div
                v-for="(text, index) in inputTempl.helperTexts"
                :key="index"
                class="my-1 trsText--text text-caption text--light-1"
              >
                <v-icon
                  color="primary"
                  size="small"
                >
                  mdi-check
                </v-icon> {{ text }}
              </div>
            </div>

            <common-trs-btn
              v-if="mode !== 'view'"
              text
              outlined
              type="secondary"
              class="primary--text border-radius-0 mt-2"
              @click="openFileDialog"
            >
              <div v-if="!loading">
                Upload New
              </div>
              <v-progress-circular
                v-if="loading"
                :size="30"
                :rotate="270"
                :width="5"
                :value="progress"
                color="primary"
              >
                <span style="font-size: 10px">{{ progress.toFixed(0) }}</span>
              </v-progress-circular>
            </common-trs-btn>
          </div>
        </div>
        <div
          v-if="mode !== 'view'"
          class="input-template-comment mt-2"
          v-html="inputTempl.comment"
        />
      </template>
    </common-input-s3-upload>

    <v-row
      v-if="mode === 'view'"
      dense
      class="form-template-view-input-row align-center"
    >
      <v-col cols="6">
        <span
          class="form-template-view-input-label"
        >
          {{ `${inputTempl.label}${inputTempl.mandatory ? '*' :''}` }}
        </span>
      </v-col>
      <v-col cols="6">
        <img
          v-if="internalValue"
          :src="internalValue"
          style="width: 100%"
        >
        <div v-else>
          No Image
        </div>
      </v-col>
    </v-row>
  </validation-provider>
</template>

<script>
  export default {
    name: 'InputTemplatePublicImage',

    props: {
      value: {
        validate: () => true,
        required: true,
      },
      inputTempl: {
        type: Object,
      },
      sectionValues: {
        type: Object,
      },
      mode: {
        type: String,
      },
      useDotPropAccess: {
        type: Boolean,
      },
    },

    data: () => ({
      // internalValue: '',
    }),

    computed: {
      ruleSets () {
        const ruleSets = {}
        if (this.inputTempl.mandatory) {
          ruleSets.required = true
        }
        if (this.inputTempl.regex) {
          ruleSets.regex = RegExp(this.inputTempl.regex)
        }
        return { ...ruleSets, ...this.inputTempl.customRuleSets }
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },
  }
</script>
