<template>
  <div>
    <validation-provider
      v-if="mode === 'edit' || mode === 'create'"
      v-slot="{ errors }"
      :rules="ruleSets"
      :name="inputTempl.label"
      :vid="inputTempl.id"
    >
      <common-input-label
        v-if="$formTemplInputLongLabel(inputTempl)"
        class="mb-1"
        v-text="$formTemplInputLongLabel(inputTempl)"
      />
      <common-input-slider
        v-model="internalValue"
        :min="inputTempl.min"
        :max="inputTempl.max"
        :error-messages="errors"
        :hide-details="errors.length === 0"
        color="primary"
        validate-on-blur
        thumb-label="always"
        :persistent-hint="mode !== 'view'"
        :label="$formTemplInputShortLabel(inputTempl)"
        v-bind="inputTempl.inputProps"
      >
        <template
          v-if="inputTempl.minLabel"
          v-slot:prepend
        >
          <span class="text--disabled text-h4 v-label">{{ inputTempl.minLabel }}</span>
        </template>
        <template
          v-if="inputTempl.maxLabel"
          v-slot:append
        >
          <span class="text--disabled text-h4 v-label">{{ inputTempl.maxLabel }}</span>
        </template>
      </common-input-slider>
    </validation-provider>
    <div
      v-if="mode !== 'view'"
      class="input-template-comment mt-2"
      v-html="inputTempl.comment"
    />

    <v-row
      v-else
      dense
      class="form-template-view-input-row"
    >
      <v-col cols="6">
        <span class="form-template-view-input-label">
          {{ `${inputTempl.label}${inputTempl.mandatory ? '*' :''}` }}
        </span>
      </v-col>
      <v-col cols="6">
        {{ internalValue || '-' }}
      </v-col>
    </v-row>
  </div>
</template>

<script>
  export default {
    name: 'InputTemplateSlider',

    props: {
      value: {
        validate: () => true,
        required: true,
      },
      inputTempl: {
        type: Object,
      },
      sectionValues: {
        type: Object,
      },
      mode: {
        type: String,
      },
      useDotPropAccess: {
        type: Boolean,
      },
    },

    data: () => ({
      // internalValue: '',
    }),

    computed: {
      ruleSets () {
        const ruleSets = {}
        if (this.inputTempl.mandatory) {
          ruleSets.required = true
        }
        if (this.inputTempl.regex) {
          ruleSets.regex = RegExp(this.inputTempl.regex)
        }
        return { ...ruleSets, ...this.inputTempl.customRuleSets }
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },
  }
</script>
