<template>
  <div>
    <div
      v-if="mode === 'edit' || mode === 'create'"
    >
      <common-input-label
        v-if="$formTemplInputLongLabel(inputTempl)"
        class="mb-1"
        v-text="$formTemplInputLongLabel(inputTempl)"
      />
      <validation-provider
        ref="validationProvider"
        :name="inputTempl.label"
        :vid="inputTempl.id"
      >
        <common-input-file
          :error-messages="errors"
          :hide-details="errors.length === 0"
          color="primary"
          :label="$formTemplInputShortLabel(inputTempl)"
          validate-on-blur
          :persistent-hint="mode !== 'view'"
          v-bind="inputTempl.inputProps"
          :file-type="CONSTS.FILE_TYPES.ALL_DOCS"
          @change="uploadFile"
        >
          <template v-slot:append-outer>
            <v-progress-circular
              v-if="uploading"
              :rotate="270"
              :size="50"
              :width="10"
              :value="uploadingProgress"
              color="primary"
            >
              {{ uploadingProgress }}
            </v-progress-circular>
          </template>
        </common-input-file>
      </validation-provider>
      <div
        v-if="mode !== 'view'"
        class="input-template-comment mt-2"
        v-html="inputTempl.comment"
      />
    </div>

    <div
      v-if="doc && mode !== 'view'"
      class="preview form-template-view-input-row"
    >
      <common-common-preview-file-line-wrapper
        title="Uploaded File"
        :mime-type="doc.mime_type"
        :url="doc.signed_url"
        :has-download-btn="true"
      />
    </div>

    <v-row
      v-if="mode === 'view'"
      no-gutters
      class="form-template-view-input-row"
    >
      <v-col cols="6">
        <span class="form-template-view-input-label">
          {{ `${inputTempl.label}${inputTempl.mandatory ? '*' :''}` }}
        </span>
      </v-col>
      <v-col cols="6">
        <div
          v-if="doc"
          no-gutters
        >
          <a
            :download="filename"
            target="_blank"
            rel="noopener noreferrer"
            :href="doc.signed_url"
            class="d-flex align-center text-decoration-none "
          >
            <v-icon color="primary">mdi-paperclip</v-icon>
            {{ doc.doc_name || 'Document' }}
          </a>
        </div>
        <div v-else>
          No data
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
  import { uploadDocument, getDocumentById, deleteDocument } from './utils'

  export default {
    name: 'InputTemplateFile',

    props: {
      value: {
        validate: () => true,
        required: true,
      },
      inputTempl: {
        type: Object,
      },
      sectionValues: {
        type: Object,
      },
      isCommon: {
        type: Boolean,
      },
      template: {
        type: Object,
      },
      mode: {
        type: String,
      },
      useDotPropAccess: {
        type: Boolean,
      },
      apiServices: {
        type: Object,
        default: () => {},
      },
    },

    data: () => ({
      // internalValue: '',
      errors: [],
      doc: null,
      uploading: false,
      uploadingProgress: 0,
    }),

    computed: {
      filename () {
        if (!this.doc) {
          return ''
        }
        // let url = this.doc.signed_url.split('?')[0]
        // url = url.slice(url.lastIndexOf('/'))
        return 'xxx'
      },
      ruleSets () {
        const ruleSets = {}
        if (this.inputTempl.mandatory) {
          ruleSets.required = true
        }
        if (this.inputTempl.regex) {
          ruleSets.regex = RegExp(this.inputTempl.regex)
        }
        return { ...ruleSets, ...this.inputTempl.customRuleSets }
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    created () {
      this.internalValue && this.loadDocument(this.internalValue)
    },

    mounted () {
      if (this.$refs.validationProvider) {
        this.$refs.validationProvider.validate()
      }
    },

    methods: {
      async uploadFile (ev) {
        if (this.$refs.validationProvider) {
          this.$refs.validationProvider.validate(ev)
        }
        const baseMapper = {
          [this.CONSTS.PORTAL.ISSUER]: '',
          [this.CONSTS.PORTAL.TENANT]: 'tenant',
          [this.CONSTS.PORTAL.INVESTOR]: 'tenant',
        }
        const portal = this.$getPortal()
        if (!ev) {
          try {
            deleteDocument(this.internalValue, { base: baseMapper[portal] })
          } catch (err) {
            // ingore the error. Nothing to do about it
          }
          this.internalValue = ''
          this.loadDocument('')
        } else {
          this.uploading = true
          try {
            // const s3Key = `users/forms/${this.template.id}/files/${this.inputTempl.id}_${this.inputTempl.label}_${new Date().getTime()}/${ev.name}`
            const progressCallback = (progress) => {
              this.uploadingProgress = progress
            }

            const uploadFunc = this.apiServices.uploadDocument || uploadDocument
            const apiResponse = await uploadFunc({
              file: ev,
              // s3_key: `trellisdev/testcycle/${s3Key}`,
              request_payload: {
                name: ev.name,
                description: '',
                details: {},
              },
            }, {
              base: baseMapper[portal],
            }, progressCallback)
            this.internalValue = apiResponse.doc_id
            this.loadDocument(apiResponse.doc_id)
          } catch (err) {
            this.$store.dispatch('app/handleError', {
              err,
              message: 'Failed to upload file',
            })
          }
          if (this.$refs.validationProvider) {
            this.$refs.validationProvider.setFlags({ dirty: true })
          }
          this.uploading = false
        }
      },
      async loadDocument (documentId) {
        if (!documentId) {
          this.doc = null
        } else {
          // Rabbit hole for entity onboaring form file response
          if (typeof this.internalValue === 'object' && this.internalValue.signed_url) {
            this.doc = this.internalValue
            return
          }
          const baseMapper = {
            [this.CONSTS.PORTAL.ISSUER]: '',
            [this.CONSTS.PORTAL.TENANT]: 'tenant',
            [this.CONSTS.PORTAL.INVESTOR]: 'tenant',
          }
          const portal = this.$getPortal()
          const getDocumentFunc = this.apiServices.getDocumentById || getDocumentById
          this.doc = await getDocumentFunc(documentId, { base: baseMapper[portal] })
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
</style>
