<template>
  <validation-provider
    v-slot="{ errors }"
    :rules="ruleSets"
    :name="inputTempl.label"
  >
    <common-input-label
      v-if="$formTemplInputLongLabel(inputTempl)"
      class="mb-1"
      v-text="$formTemplInputLongLabel(inputTempl)"
    />
    <common-input-textarea
      v-if="mode !== 'view'"
      v-model="internalValue"
      :error-messages="errors"
      :hide-details="errors.length === 0"
      color="primary"
      :label="$formTemplInputShortLabel(inputTempl)"
      validate-on-blur
      :disabled="mode === 'view'"
      :persistent-hint="mode !== 'view'"
      :counter="inputTempl.limit ? +inputTempl.limit : false"
      v-bind="inputTempl.inputProps"
    />
    <div
      v-if="mode !== 'view'"
      class="input-template-comment mt-2"
      v-html="inputTempl.comment"
    />

    <v-row
      v-else
      dense
      class="form-template-view-input-row"
    >
      <v-col cols="12">
        <span class="form-template-view-input-label">
          {{ `${inputTempl.label}${inputTempl.mandatory ? '*' :''}` }}
        </span>
      </v-col>
      <v-col cols="12">
        {{ internalValue || '-' }}
      </v-col>
    </v-row>
  </validation-provider>
</template>

<script>
  export default {
    name: 'InputTemplateTextara',

    props: {
      value: {
        validate: () => true,
        required: true,
      },
      inputTempl: {
        type: Object,
      },
      sectionValues: {
        type: Object,
      },
      mode: {
        type: String,
      },
      useDotPropAccess: {
        type: Boolean,
      },
    },

    data: () => ({
      // internalValue: '',
    }),

    computed: {
      ruleSets () {
        const ruleSets = {}
        if (this.inputTempl.mandatory) {
          ruleSets.required = true
        }
        if (this.inputTempl.regex) {
          ruleSets.regex = RegExp(this.inputTempl.regex)
        }
        if (this.inputTempl.limit && +this.inputTempl.limit > 0) {
          ruleSets.max = +this.inputTempl.limit
        }

        return { ...ruleSets, ...this.inputTempl.customRuleSets }
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },
  }
</script>
