<template>
  <div>
    <div>
      <!-- <common-input-label>{{ `${inputTempl.label}` }}</common-input-label> -->
      <v-row no-gutters>
        <v-dialog
          v-model="internalDialog"
          :max-width="inputTempl.modalMaxWidth ? +inputTempl.modalMaxWidth : 500"
        >
          <template v-slot:activator="{ on }">
            <span
              class="primary--text cursor-pointer"
              v-on="on"
            >
              {{ inputTempl.label }}
            </span>
          </template>

          <v-card>
            <v-card-title>
              <v-spacer />

              <v-icon
                aria-label="Close"
                @click="close"
              >
                mdi-close
              </v-icon>
            </v-card-title>

            <v-card-text class="text-left">
              <div v-html="inputTempl.modalBody" />
            </v-card-text>

            <v-card-actions>
              <v-spacer />
              <common-trs-btn
                text
                class="white--text"
                type="tertiary"
                @click="close"
              >
                Close
              </common-trs-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'InputTemplateModal',

    props: {
      value: {
        validate: () => true,
        required: true,
      },
      inputTempl: {
        type: Object,
      },
      sectionValues: {
        type: Object,
      },
      mode: {
        type: String,
      },
      useDotPropAccess: {
        type: Boolean,
      },
    },

    data: () => ({
      // internalValue: '',
      internalDialog: false,
    }),

    computed: {
      ruleSets () {
        const ruleSets = {}
        if (this.inputTempl.mandatory) {
          ruleSets.required = true
        }
        if (this.inputTempl.regex) {
          ruleSets.regex = RegExp(this.inputTempl.regex)
        }
        return { ...ruleSets, ...this.inputTempl.customRuleSets }
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    methods: {
      close () {
        this.internalDialog = false
      },
    },
  }
</script>
