<template>
  <div>
    <div
      v-if="mode === 'edit' || mode === 'create'"
    >
      <common-input-label
        v-if="inputTempl.longLabel"
        class="mb-1"
      >
        {{ inputTempl.longLabel }}
      </common-input-label>
      <common-input-label>
        {{ inputTempl.label }}
        <span v-if="!inputTempl.mandatory"> (optional)</span>
      </common-input-label>
      <v-row
        no-gutters
      >
        <validation-provider
          :rules="ruleSets"
          :name="inputTempl.label"
          :vid="inputTempl.id"
        >
          <common-rich-text-editor
            v-model="internalValue"
          />
        </validation-provider>
        <v-col
          cols="12"
        >
          <span
            class="input-template-comment"
            v-html="inputTempl.comment"
          />
        </v-col>
      </v-row>
    </div>

    <div
      v-if="mode === 'view'"
      class="form-template-view-input-row"
    >
      <span class="form-template-view-input-label">
        {{ `${inputTempl.label}${inputTempl.mandatory ? '*' :''}` }}
      </span>

      <common-rich-text-viewer
        v-model="internalValue"
      />
    </div>
  </div>
</template>

<script>
  export default {
    name: 'InputTemplateRichTextEditor',

    components: {
      CommonRichTextEditor: () => import('@/components/common/rich-text-editor/Index'),
      CommonRichTextViewer: () => import('@/components/common/rich-text-editor/Viewer'),
    },

    props: {
      value: {
        validate: () => true,
        required: true,
      },
      inputTempl: {
        type: Object,
      },
      sectionValues: {
        type: Object,
      },
      mode: {
        type: String,
      },
      useDotPropAccess: {
        type: Boolean,
      },
    },

    data: () => ({
      newLabel: '',
      newText: '',
    }),

    computed: {
      ruleSets () {
        const ruleSets = {}
        if (this.inputTempl.mandatory) {
          ruleSets.required = true
        }
        if (this.inputTempl.regex) {
          ruleSets.regex = RegExp(this.inputTempl.regex)
        }
        return { ...ruleSets, ...this.inputTempl.customRuleSets }
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    watch: {
    },

    created () {
    },

    methods: {
    },
  }
</script>
<style lang="scss" scoped>
</style>
