<template>
  <validation-provider
    v-slot="{ errors }"
    :rules="ruleSets"
    :name="inputTempl.label"
    :vid="inputTempl.id"
  >
    <common-input-label
      v-if="$formTemplInputLongLabel(inputTempl)"
      class="mb-1"
      v-text="$formTemplInputLongLabel(inputTempl)"
    />
    <form-templates-data-entity-item-selector
      v-if="mode !== 'view'"
      v-model="internalValue"
      :api-services="apiServices"
      :type="inputTempl.input"
      :data-source="inputTempl.dataSource"
      :error-messages="errors"
      :hide-details="errors.length === 0"
      color="primary"
      validate-on-blur
      :entity="inputTempl.entity"
      :is-common="inputTempl.dataSource === CONSTS.FORM_DEF_DATA_SOURCE_TYPE.ENTITY_COMMON"
      :inline-data="inputTempl.data"
      :disabled="mode === 'view' || disabled"
      :persistent-hint="mode !== 'view'"
      :radio-id-field-name="inputTempl.radioIdFieldName"
      :radio-name-field-name="inputTempl.radioNameFieldName"
      :radio-queries="inputTempl.radioQueries"
      :input-values="inputValues"
      :label="$formTemplInputShortLabel(inputTempl)"
      v-bind="inputTempl.inputProps"
      :select-all="inputTempl.selectAll"
      :fallback-common="inputTempl.fallbackCommon"
      :reload-data="reloadData"
    />
    <div
      v-if="mode !== 'view'"
      class="input-template-comment mt-2"
      v-html="inputTempl.comment"
    />

    <v-row
      v-else
      dense
      class="form-template-view-input-row"
    >
      <v-col cols="6">
        <span class="form-template-view-input-label">
          {{ `${inputTempl.label}${inputTempl.mandatory ? '*' :''}` }}
        </span>
      </v-col>
      <v-col
        v-if="inputTempl.dataSource === CONSTS.FORM_DEF_DATA_SOURCE_TYPE.ENTITY || inputTempl.dataSource === CONSTS.FORM_DEF_DATA_SOURCE_TYPE.ENTITY_COMMON"
        cols="6"
      >
        <div
          v-if="inputTempl.input === CONSTS.FORM_DEF_INPUT_TYPE.SELECT_MULTI || inputTempl.input === CONSTS.FORM_DEF_INPUT_TYPE.CHECK_LIST"
          class="d-flex flex-column"
        >
          <div
            v-for="(val, index) in internalValue"
            :key="index"
            v-html="val && val.name ? val.name : '-'"
          />
        </div>
        <div
          v-else-if="inputTempl.type !== CONSTS.FORM_DEF_INPUT_TYPE.SELECT_MULTI"
          v-html="internalValue && internalValue.name ? internalValue.name : '-'"
        />
        <div
          v-else
        >
          -
        </div>
      </v-col>
      <v-col
        v-if="inputTempl.dataSource === CONSTS.FORM_DEF_DATA_SOURCE_TYPE.INLINE"
        cols="6"
      >
        <div
          v-if="(inputTempl.type === CONSTS.FORM_DEF_INPUT_TYPE.SELECT_MULTI || inputTempl.input === CONSTS.FORM_DEF_INPUT_TYPE.CHECK_LIST) && Array.isArray(internalValue)"
        >
          <div
            v-for="(val, index) in internalValue"
            :key="index"
            v-html="val ? val : '-'"
          />
        </div>
        <div
          v-else-if="inputTempl.type !== CONSTS.FORM_DEF_INPUT_TYPE.SELECT_MULTI && inputTempl.type !== CONSTS.FORM_DEF_INPUT_TYPE.CHECK_LIST"
          v-html="internalValue ? internalValue : '-'"
        />
        <div
          v-else
        >
          -
        </div>
      </v-col>
    </v-row>
  </validation-provider>
</template>

<script>
  import FormTemplatesDataEntityItemSelector from '@/components/common/fmsvc/form-templates/DataEntityItemSelector'
  export default {
    name: 'InputTemplateRadio',

    components: {
      FormTemplatesDataEntityItemSelector,
    },

    props: {
      value: {
        validate: () => true,
        required: true,
      },
      inputTempl: {
        type: Object,
      },
      sectionValues: {
        type: Object,
      },
      isCommon: {
        type: Boolean,
      },
      mode: {
        type: String,
      },
      useDotPropAccess: {
        type: Boolean,
      },
      apiServices: {
        type: Object,
        default: () => {},
      },
      inputValues: {
        type: Object,
      },
      reloadData: {
        type: Boolean,
        default: false,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      items: [],
    }),

    computed: {
      ruleSets () {
        const ruleSets = {}
        if (this.inputTempl.mandatory) {
          ruleSets.required = true
        }
        if (this.inputTempl.regex) {
          ruleSets.regex = RegExp(this.inputTempl.regex)
        }
        return { ...ruleSets, ...this.inputTempl.customRuleSets }
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
      parentValue () {
        if (this.inputTempl.dataSrc === 'entity' &&
          this.inputTempl.parent) {
          return this.sectionValues[this.inputTempl.parent]
        } else {
          return null
        }
      },
    },

    watch: {
    },

    async created () {
      if (this.inputTempl.input === this.CONSTS.FORM_DEF_INPUT_TYPE.CHECK_LIST) {
        if (!Array.isArray(this.internalValue)) {
          this.internalValue = []
        }
      }
    },

    methods: {
    },
  }
</script>
