<template>
  <validation-provider
    v-slot="{ errors }"
    rules=""
    :name="inputTempl.label"
    :vid="inputTempl.id"
  >
    <common-input-label
      v-if="$formTemplInputLongLabel(inputTempl)"
      class="mb-1"
      v-text="$formTemplInputLongLabel(inputTempl)"
    />
    <common-input-text-field
      v-if="mode !== 'view'"
      v-model="internalValue"
      :error-messages="errors"
      :hide-details="errors.length === 0"
      color="primary"
      :label="$formTemplInputShortLabel(inputTempl)"
      validate-on-blur
      :persistent-hint="mode !== 'view'"
      type="number"
      :disabled="true"
      v-bind="inputTempl.inputProps"
    />
    <div
      v-if="mode !== 'view'"
      class="input-template-comment mt-2"
      v-html="inputTempl.comment"
    />
    <v-row
      v-else
      dense
      class="form-template-view-input-row"
    >
      <v-col cols="6">
        <span class="form-template-view-input-label">
          {{ `${inputTempl.label}${inputTempl.mandatory ? '*' :''}` }}
        </span>
      </v-col>
      <v-col cols="6">
        {{ internalValue || '-' }}
      </v-col>
    </v-row>
  </validation-provider>
</template>

<script>
  import { getCalculatedValue } from './calculated-utils'

  export default {
    name: 'InputTemplateCalculated',

    props: {
      value: {
        validate: () => true,
        required: true,
      },
      inputTempl: {
        type: Object,
      },
      sectionValues: {
        type: Object,
      },
      mode: {
        type: String,
      },
      useDotPropAccess: {
        type: Boolean,
      },
      apiServices: {
        type: Object,
        default: () => {},
      },
      inputValues: {
        type: Object,
        default: () => ([]),
      },
    },

    data: () => ({
      // internalValue: '',
    }),

    computed: {
      finalVal () {
        return getCalculatedValue(this.inputTempl, this.apiServices, this.inputValues)
      },
      internalValue: {
        get () {
          return this.value || ''
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    watch: {
      finalVal (val) {
        if (this.mode !== 'view' && !isNaN(val)) {
          this.internalValue = val
        }
      },
    },
  }
</script>
