<template>
  <div>
    <div
      v-if="mode === 'edit' || mode === 'create'"
    >
      <common-input-label
        v-if="inputTempl.longLabel"
        class="mb-1"
      >
        {{ inputTempl.longLabel }}
      </common-input-label>
      <common-input-label>
        {{ inputTempl.label }}
        <span v-if="!inputTempl.mandatory"> (optional)</span>
      </common-input-label>
      <v-row
        no-gutters
      >
        <draggable
          v-if="internalValue"
          v-model="internalValue"
          style="width: 100%;"
          :options="{ handle:'.drag-handle' }"
        >
          <v-col
            v-for="(line, index) in internalValue"
            :key="index"
            cols="12"
            class="pa-0"
          >
            <validation-provider
              v-slot="{ errors }"
              :rules="ruleSets"
              :name="inputTempl.label"
            >
              <common-input-text-field
                v-model="internalValue[index].label"
                :error-messages="errors"
                :hide-details="errors.length === 0"
                color="primary"
                validate-on-blur
                dense
                :label="inputTempl.labelName || 'Label'"
              >
                <template v-slot:prepend>
                  <div class="text-h4 muted indexing d-flex">
                    <v-icon
                      color="primary"
                      class="drag-handle"
                    >
                      mdi-drag
                    </v-icon>
                    <span>{{ index+1 }}.</span>
                  </div>
                </template>
                <template v-slot:append-outer>
                  <common-trs-btn
                    type="tertiary"
                    icon
                    @click="deleteLine(index)"
                  >
                    <v-icon>mdi-delete</v-icon>
                  </common-trs-btn>
                </template>
              </common-input-text-field>
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              :rules="ruleSets"
              :name="inputTempl.label"
            >
              <common-input-text-field
                v-model="internalValue[index].text"
                :error-messages="errors"
                :hide-details="errors.length === 0"
                color="primary"
                validate-on-blur
                dense
                :label="inputTempl.textName || 'Text'"
              >
                <template v-slot:prepend>
                  <div class="text-h4 muted indexing d-flex" />
                </template>
                <template v-slot:append-outer>
                  <common-trs-btn
                    type="tertiary"
                    icon
                    :diabled="true"
                  >
                    <v-icon>mdi-none</v-icon>
                  </common-trs-btn>
                </template>
              </common-input-text-field>
            </validation-provider>
          </v-col>
        </draggable>
        <v-col
          cols="12"
          class="pa-0"
        >
          <validation-provider
            v-slot="{ errors }"
            :rules="{ }"
            :name="'Label'"
          >
            <common-input-text-field
              v-model="newLabel"
              :error-messages="errors"
              :hide-details="errors.length === 0"
              color="primary"
              validate-on-blur
              dense
              :label="inputTempl.labelName || 'Label'"
            >
              <template v-slot:prepend>
                <div class="text-h4 muted indexing d-flex" />
              </template>
              <template v-slot:append-outer>
                <common-trs-btn
                  type="tertiary"
                  icon
                  @click="addLine"
                >
                  <v-icon>mdi-plus</v-icon>
                </common-trs-btn>
              </template>
            </common-input-text-field>
          </validation-provider>
          <validation-provider
            v-slot="{ errors }"
            :rules="{ }"
            :name="'Text'"
          >
            <common-input-text-field
              v-model="newText"
              :error-messages="errors"
              :hide-details="errors.length === 0"
              color="primary"
              validate-on-blur
              dense
              :label="inputTempl.textName || 'Text'"
              @blur="addLine"
              @keydown.enter="addLine"
            >
              <template v-slot:prepend>
                <div class="text-h4 muted indexing d-flex" />
              </template>
              <template v-slot:append-outer>
                <common-trs-btn
                  type="tertiary"
                  icon
                  :diabled="true"
                >
                  <v-icon>mdi-none</v-icon>
                </common-trs-btn>
              </template>
            </common-input-text-field>
          </validation-provider>
        </v-col>
        <v-col
          cols="12"
        >
          <div
            v-if="mode !== 'view'"
            class="input-template-comment mt-2"
            v-html="inputTempl.comment"
          />
        </v-col>
      </v-row>
    </div>

    <div
      v-if="mode === 'view'"
      class="form-template-view-input-row"
    >
      <span class="form-template-view-input-label">
        {{ `${inputTempl.label}${inputTempl.mandatory ? '*' :''}` }}
      </span>
      <v-row
        v-if="internalValue && internalValue.length > 0"
        no-gutters
      >
        <v-timeline
          :dense="$vuetify.breakpoint.smAndDown"
          color="primary"
          style="width: 100%"
        >
          <v-timeline-item
            v-for="(line, index) in internalValue"
            :key="index"
          >
            <!-- <span slot="opposite">Tus eu perfecto</span> -->
            <v-card class="elevation-2">
              <v-card-title class="text-h3">
                {{ line.label }}
              </v-card-title>
              <v-card-text class="text-h4">
                {{ line.text }}
              </v-card-text>
            </v-card>
          </v-timeline-item>
        </v-timeline>
      </v-row>
      <v-row v-else>
        <v-col>No data</v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
  import draggable from 'vuedraggable'

  export default {
    name: 'InputTemplateTimeline',

    components: {
      draggable,
    },

    props: {
      value: {
        validate: () => true,
        required: true,
      },
      inputTempl: {
        type: Object,
      },
      sectionValues: {
        type: Object,
      },
      mode: {
        type: String,
      },
      useDotPropAccess: {
        type: Boolean,
      },
    },

    data: () => ({
      newLabel: '',
      newText: '',
    }),

    computed: {
      isInternalValueArray () {
        return Array.isArray(this.internalValue)
      },
      ruleSets () {
        const ruleSets = {}
        if (this.inputTempl.mandatory) {
          ruleSets.required = true
        }
        if (this.inputTempl.regex) {
          ruleSets.regex = RegExp(this.inputTempl.regex)
        }
        return { ...ruleSets, ...this.inputTempl.customRuleSets }
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    watch: {
      internalValue (val) {
        this.init()
      },
    },

    created () {
      this.init()
    },

    methods: {
      deleteLine (index) {
        this.internalValue = this.internalValue.filter((line, i) => i !== index)
      },
      addLine (event) {
        if (!this.newLabel || !this.newText) {
          return
        }
        let val = this.internalValue
        if (!Array.isArray(val)) {
          val = []
        }
        this.internalValue = val.concat([{
          label: this.newLabel,
          text: this.newText,
        }])
        this.newLabel = ''
        this.newText = ''
        // this.$nextTick(() => {
        //   this.$refs.newLineObserver.reset()
        // })
      },
      init () {
        if (!Array.isArray(this.internalValue)) {
          this.internalValue = []
        }
      },
    },
  }
</script>
<style lang="scss" scoped>
  div.indexing {
    min-width: 50px;
  }
  .drag-handle {
    cursor: move;
    cursor: -webkit-grabbing;
  }
</style>
