<template>
  <v-row no-gutters>
    <v-col
      cols="12"
      class="mb-1"
    >
      <common-input-label
        class="text-left"
        :class="{ 'error--text': $attrs['hide-details'] && $attrs['error-messages'] && $attrs['error-messages'].length > 0 }"
      >
        <slot name="label">
          <span v-if="inputTempl.label">{{ inputTempl.label }}</span>
        </slot>
      </common-input-label>
    </v-col>

    <v-col cols="12">
      <draggable
        v-model="dataList"
        :options="mode === 'view' ? { disabled : true } : { disabled : false }"
        @start="drag=true"
        @end="drag=false"
      >
        <div
          v-for="(element, i) in dataList"
          :key="element"
        >
          <span class="primary--text font-weight-bold mr-2">
            {{ i + 1 }}
          </span>
          <div class="draggable-section">
            <v-icon>
              mdi-swap-vertical
            </v-icon>
            {{ element }}
          </div>
        </div>
      </draggable>
    </v-col>
  </v-row>
</template>

<script>
  import draggable from 'vuedraggable'
  export default {
    name: 'InputTemplateDraggableList',
    components: {
      draggable,
    },
    props: {
      inputValues: {
        type: Object,
      },
      inputTempl: {
        type: Object,
      },
      sectionValues: {
        type: Object,
      },
      mode: {
        type: String,
      },
    },
    data: () => ({
      baseValue: [],
    }),
    computed: {
      dataList: {
        get () {
          return this.baseValue
        },
        set (value) {
          this.baseValue = value
          this.$emit('input', this.baseValue)
        },
      },
      checkForSectionData () {
        return Object.values(this.sectionValues)[0] ? Object.values(this.sectionValues)[0] : JSON.parse(JSON.stringify(this.inputTempl.data))
      },
    },
    created () {
      this.setData()
    },
    methods: {
      setData () {
        this.baseValue = this.checkForSectionData
      },
    },
  }
</script>
<style lang="scss">
  .draggable-section {
    padding: 10px;
    background: #edf2f3;
    margin: 5px 0;
    text-transform: capitalize;
    display: inline-block;
    width: 90%;
    i {
      color: #000 !important;
    }
  }
</style>
