<template>
  <form>
    <v-row
      class="mx-auto"
      justify="space-around"
      :no-gutters="mode === 'view'"
    >
      <v-col
        v-for="inputTempl in section.definition"
        :key="inputTempl.id"
        :class="`${section.key}-${inputTempl.id} ${inputTempl.id}`"
        cols="12"
        class="py-0"
      >
        <form-templates-input-template
          :input-templ="inputTempl"
          :section-values="sectionValues"
          :is-common="!!section.source"
          :template="template"
          :mode="mode"
          :api-services="extendedApiService"
          :input-values="inputValues"
          @update="update"
        />
      </v-col>
    </v-row>
  </form>
</template>

<script>
  import FormTemplatesInputTemplate from '@/components/common/fmsvc/form-templates/InputTemplate'

  export default {
    name: 'SectionTemplate',

    components: {
      FormTemplatesInputTemplate,
    },

    props: {
      sectionValues: {
        type: Object,
      },
      section: {
        type: Object,
      },
      multipleId: {
        type: Number,
      },
      template: {
        type: Object,
      },
      mode: {
        type: String,
      },
      apiServices: {
        type: Object,
        default: () => {},
      },
      inputValues: {
        type: Object,
      },
    },

    computed: {
      extendedApiService () {
        return {
          ...this.apiServices,
          getValueFromSection: (inputValues, sectionId, inputId) => {
            return this.apiServices.getValueFromSection(inputValues, sectionId, inputId, this.multipleId)
          },
        }
      },
    },

    methods: {
      update (id, val) {
        const newSectionValues = {
          ...this.sectionValues,
          [id]: val,
        }
        this.$emit('update', this.section, newSectionValues, this.multipleId)
      },
    },
  }
</script>
