<template>
  <v-card
    :elevation="$attrs.elevation || 12"
    :max-width="$attrs.maxWidth || 800"
    class="ma-0 pb-3"
  >
    <v-card-title class="justify-center text-h4 font-weight-medium pt-0">
      {{ template.name }}
      <common-trs-btn
        v-if="enableEdit"
        type="tertiary"
        text
        small
        trs-icon
        class="ml-auto"
        @click="toggleViewEdit"
      >
        <v-icon
          v-if="mode === 'view'"
          small
        >
          mdi-pen
        </v-icon>
        <v-icon
          v-if="mode === 'edit'"
          small
        >
          mdi-close
        </v-icon>
      </common-trs-btn>
    </v-card-title>

    <div class="text-center text-h4 grey--text font-weight-medium pt-0 my-3">
      {{ template.description }}
    </div>

    <v-tabs
      v-if="mode !== 'view'"
      v-show="template.sections.length > 1"
      ref="tabs"
      v-model="internalValue"
      :background-color="$attrs['tabs-background-color'] || 'transparent'"
      height="35"
    >
      <v-tab
        v-for="(item, i) in template.sections"
        :key="i"
        :ripple="false"
        :disabled="!isTabEnabled(i)"
        class="px-1 mx-2"
        @click="changeTab(i)"
      >
        {{ item.name }}
      </v-tab>
    </v-tabs>
    <div class="my-6" />

    <v-card-text
      v-if="mode !== 'view'"
      style="max-width: 500px; margin: 0 auto;"
    >
      <v-tabs-items
        v-model="internalValue"
      >
        <validation-observer
          v-for="(section, i) in template.sections"
          v-slot="{ }"
          :ref="'observers'"
          :key="i"
        >
          <v-tab-item
            v-if="section.multiple"
            :key="i"
            class="pb-12"
            eager
          >
            <div class="mx-2 d-flex align-center">
              <div class="text-h4 font-weight-medium">
                {{ section.description }}
              </div>
            </div>
            <v-row>
              <v-col
                cols="12"
                class="d-flex flex-row align-center"
              >
                <v-spacer />
                <common-trs-btn
                  v-if="mode !== 'view' && section.bulkUpload"
                  outlined
                  type="primary"
                  class="mr-2 white--text"
                  @click.stop="downloadMultipleSectionTemplate(section)"
                >
                  <v-icon>mdi-download</v-icon>
                  Download Template
                </common-trs-btn>

                <form-templates-button-file-input
                  v-if="mode !== 'view' && section.bulkUpload "
                  accept="text/csv"
                  :params="{ section: section }"
                  :api-services="apiServices"
                  @onFileSelected="uploadMultipleSectionFile"
                >
                  <template v-slot:activator="{ selectFile }">
                    <common-trs-btn
                      outlined
                      type="secondary"
                      class="primary--text"
                      @click="selectFile"
                    >
                      <v-icon>mdi-upload</v-icon>
                      Upload File
                    </common-trs-btn>
                  </template>
                </form-templates-button-file-input>
                <common-trs-btn
                  v-if="mode !== 'view' && section.bulkUpload"
                  text
                  trs-icon
                  small
                  type="secondary"
                  class="primary--text ml-2"
                  @click.stop="showTemplateInfoBox"
                >
                  <v-icon>mdi-information</v-icon>
                </common-trs-btn>
              </v-col>
            </v-row>

            <div
              v-for="(multiSectionItem, index) in inputValues[section.key]"
              :key="`section${index}.tab`"
              class="response-container"
            >
              <div class="d-flex mx-3 align-center">
                <span class="font-weight-bold text-body-1">{{ secMultiLabel(section) }} {{ index + 1 }}</span>
                <common-trs-btn
                  v-if="mode !== 'view'"
                  type="tertiary"
                  small
                  trs-icon
                  color="grey"
                  @click.stop="deleteInfo(section, index)"
                >
                  <v-icon>mdi-close-circle-outline</v-icon>
                </common-trs-btn>
              </div>

              <form-templates-section-template
                :section-values="multiSectionItem"
                :section="section"
                :multiple-id="index"
                :template="template"
                :mode="mode"
                :api-services="apiServices"
                :input-values="inputValues"
                @update="update"
              />
              <v-divider class="mx-3" />
            </div>

            <div
              class="response-container px-3"
            >
              <common-trs-btn
                v-if="mode !== 'view'"
                block
                color="#f1f1f1"
                type="secondary"
                :disabled="!observers[internalValue] || !observers[internalValue].flags.valid"
                class="primary--text mt-5 elevation-0"
                @click="addInfo(section)"
              >
                <v-icon class="mr-2">
                  mdi-plus-circle-outline
                </v-icon>
                New {{ secMultiLabel(section) }}
              </common-trs-btn>
            </div>
          </v-tab-item>

          <v-tab-item
            v-if="!section.multiple"
            :key="i"
            class="pb-12"
          >
            <div class="mx-2 d-flex mb-2">
              <div class="font-weight-medium text-body-1">
                {{ section.description }}
              </div>
            </div>
            <form-templates-section-template
              :section-values="inputValues[section.key]"
              :section="section"
              :template="template"
              :mode="mode"
              :api-services="apiServices"
              :input-values="inputValues"
              @update="update"
            />
          </v-tab-item>
        </validation-observer>
      </v-tabs-items>
    </v-card-text>

    <v-card-actions
      v-if="mode !== 'view'"
      class="pb-4 pa-4"
    >
      <common-trs-btn
        :disabled="internalValue === 0"
        class="primary--text"
        type="secondary"
        color="grey darken-2"
        min-width="125"
        @mousedown="$emit('click:prev')"
      >
        Previous
      </common-trs-btn>

      <v-spacer />

      <common-trs-btn
        :disabled="!observers[internalValue] || !observers[internalValue].flags.valid || nextBtnLoading"
        type="primary"
        class="white--text"
        min-width="100"
        @mousedown="onNext"
      >
        {{ internalValue === template.sections.length - 1 ? 'Finish' : 'Next' }}
      </common-trs-btn>
    </v-card-actions>

    <v-card-text
      v-if="mode === 'view'"
      style="max-width: 500px; margin: 0 auto;"
    >
      <div
        v-for="(section, i) in viewFilteredSections(template.sections, inputValues)"
        :key="i"
      >
        <!-- <v-divider class="my-5 mx-6" /> -->
        <div class="my-2" />
        <div class="mx-2 align-center d-flex mb-3 flex-column">
          <div class="text-center text-h3 font-weight-medium mb-3">
            {{ section.name }}
          </div>
          <div class="font-weight-medium text-body-1">
            {{ section.description }}
          </div>
        </div>
        <div
          v-if="mode === 'view' && section.multiple"
        >
          <div
            v-for="(multiSectionItem, index) in inputValues[section.key]"
            :key="index"
          >
            <div class="ml-0 mt-5 mb-3">
              {{ secMultiLabel(section) }} {{ index + 1 }}
            </div>
            <form-templates-section-template
              :section-values="multiSectionItem"
              :section="section"
              :multiple-id="index"
              :template="template"
              :mode="mode"
              :api-services="apiServices"
              :input-values="inputValues"
              @update="update"
            />
          </div>
        </div>
        <form-templates-section-template
          v-else
          :section-values="inputValues[section.key]"
          :section="section"
          :template="template"
          :mode="mode"
          :api-services="apiServices"
          :input-values="inputValues"
          @update="update"
        />
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
  import FormTemplatesButtonFileInput from '@/components/common/fmsvc/form-templates/ButtonFileInput'
  import FormTemplatesSectionTemplate from '@/components/common/fmsvc/form-templates/SectionTemplate'
  // Mixins
  import Proxyable from 'vuetify/lib/mixins/proxyable'
  import { downloadSectionTemplateCsv, parseSectionTemplateCsv } from './utils'

  export default {
    name: 'BaseFormTemplateWizard',

    components: {
      FormTemplatesButtonFileInput,
      FormTemplatesSectionTemplate,
    },

    mixins: [Proxyable],

    props: {
      template: {
        type: Object,
      },
      inputValues: {
        type: Object,
      },
      initialMode: {
        type: String,
      },
      currentPath: {
        type: Array,
      },
      nextBtnLoading: {
        type: Boolean,
        default: false,
      },
      enableEdit: {
        type: Boolean,
        default: false,
      },
      apiServices: {
        type: Object,
        default: () => {},
      },
    },

    data: () => ({
      observerValids: [],
      observers: [],
      multipleTabIndex: {},
      mode: 'edit',
    }),

    computed: {
    },

    watch: {
      inputValues (val) {
        setTimeout(() => {
          this.getObservers()
        }, 100)
      },
      internalValue (val) {
        this.initObservers(val)
      },
      initialMode (val) {
        if (val) {
          this.mode = val
        }
      },
    },

    created () {
      this.initObservers(this.internalValue)
      this.mode = this.initialMode
    },

    methods: {
      onNext () {
        this.$refs.observers && this.$refs.observers.map(ob => ob.reset())
        this.$emit('click:next')
      },
      beforeRouteLeave (to, from, next) {
        if (Array.isArray(this.$refs.observers) &&
          this.$refs.observers.some(observer => observer.flags.dirty)) {
          this.$root.$confirm({
            entity: null,
            message: 'There are unsaved changes on this page. Do you wish to save?',
            yesButton: 'Save Now',
            noButton: 'No',
            maxWidth: 400,
          })
            .then(async (confirm) => {
              if (confirm) {
                this.$refs.observers[this.internalValue].reset()
                this.$emit('click:next', true)
                next()
              }
            })
            .catch(() => {
              next()
            })
        } else {
          next()
        }
      },
      secMultiLabel (section) {
        return section.entityLabel || 'Response'
      },
      showTemplateInfoBox () {
        this.$root.$formTemplConfirm({
          entity: null,
          message: '',
          description: 'Columns with skipped will not be able to import via csv. Please add those columns after csv is imported.',
          yesButton: 'Got it',
          maxWidth: 400,
          color: 'primary',
          icon: {
            name: 'mdi-information',
          },
        })
      },
      downloadMultipleSectionTemplate (section) {
        downloadSectionTemplateCsv(section)
      },
      async uploadMultipleSectionFile (files, params) {
        try {
          const rows = await parseSectionTemplateCsv(files[0], params.section)
          rows.forEach(row => {
            this.$emit('click:addInfo', params.section, row)
          })
        } catch (errors) {
          if (Array.isArray(errors)) {
            this.$root.$formTemplConfirm({
              entity: null,
              message: 'Errors on CSV file',
              description: errors.join('<br/>'),
              yesButton: 'Got it',
              maxWidth: 400,
              color: 'error',
              icon: {
                name: 'mdi-alert',
              },
            })
          }
        }
      },
      addInfo (section) {
        this.multipleTabIndex[section.key] = this.inputValues[section.key].length
        this.$emit('click:addInfo', section)
      },
      deleteInfo (section, index) {
        this.multipleTabIndex[section.key] = this.inputValues[section.key].length - 2
        this.$emit('click:deleteInfo', section, index)
      },
      initObservers (newTab) {
        setTimeout(() => {
          this.getObservers()
          this.observers[newTab] && this.observers[newTab].validate({ silent: true })
        }, 100)
      },
      isTabEnabled (index) {
        const allowedJump =
          // (this.mode === 'edit' && index <= this.internalValue) ||
          (this.mode === 'edit') ||
          (this.mode === 'create' && index <= this.internalValue) ||
          (this.mode === 'view')

        const inPath = this.currentPath.indexOf(index) !== -1
        return allowedJump && inPath
      },
      getObservers () {
        if (Array.isArray(this.$refs.observers) &&
          this.$refs.observers.length === this.template.sections.length) {
          this.observers = this.$refs.observers
        } else {
          this.observers = []
        }
      },
      update (section, newSectionValues, multipleId) {
        this.$emit('update', section, newSectionValues, multipleId)
      },
      toggleViewEdit () {
        if (this.mode === 'view') {
          this.mode = 'edit'
        } else if (this.mode === 'edit') {
          this.mode = 'view'
        }
      },
      viewFilteredSections (sections, values) {
        return sections.filter(s => s.multiple || Object.values(values[s.key] || []).map(v => v || '').join('').length !== 0)
      },
      changeTab (index) {
        if (index < this.internalValue) {
          this.$emit('click:prev')
        } else if (index > this.internalValue) {
          this.$emit('click:next')
        }
      },
    },
  }
</script>

<style lang="sass" scoped>
  .v-card--wizard
    overflow: visible

    .v-tabs-bar
      height: 56px
      padding: 0 8px

    .v-tabs-slider-wrapper
      overflow: visible

    .v-tabs-slider
      border-radius: 4px

    .v-tabs-slider-wrapper
      contain: initial
      z-index: 0
  .v-tabs-slider-wrapper
    contain: initial
    z-index: 0

  .response-container
    max-width: 500px
    margin: 0 auto
  ::v-deep .v-divider
    border-color: #5c5c5c !important
</style>
