<template>
  <v-dialog
    v-model="internalDialog"
    content-class="print-dialog"
    :fullscreen="true"
    :hide-overlay="false"
    persistent

    v-on="$listeners"
  >
    <template v-slot:activator="{ on }">
      <slot
        name="activator"
        v-bind="{ on }"
      />
    </template>
    <common-trs-modal-card>
      <common-trs-modal-card-title class="no-print">
        <common-trs-modal-card-title-content>Print Form</common-trs-modal-card-title-content>
        <common-trs-btn
          aria-label="Close"
          type="secondary"
          class="rounded-0"
          color="primary"
          size="large"
          icon
          text
          @click="close"
        >
          <v-icon>mdi-close</v-icon>
        </common-trs-btn>
      </common-trs-modal-card-title>
      <common-trs-modal-card-text>
        <slot
          v-bind="{ close, internalDialog }"
        />
      </common-trs-modal-card-text>
    </common-trs-modal-card>
  </v-dialog>
</template>

<script>
  export default {
    name: 'FormPrintModal',

    components: {
    },

    props: {
      value: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
      internalValue: false,
    }),

    computed: {
      internalDialog: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    watch: {
      internalDialog: {
        handler (val) {
          this.$emit('internalDialogChanged', val)
          if (val) {
            this.$nextTick(() => {
              setTimeout(() => {
                window.print()
              }, 1000)
            })
          }
        },
        immediate: true,
      },
    },

    async created () {
    },

    methods: {
      close () {
        this.internalDialog = false
      },
    },
  }
</script>

<style lang="scss" scoped>
@media print {
  .v-dialog__content {
    visibility: visible;
    height: initial;
    position: absolute;
    display: initial;
  }
  ::v-deep .print-dialog {
    height: initial;
    position: static;
    overflow-y: auto;
    box-shadow: none;
  }
  ::v-deep .print-dialog,
  ::v-deep .print-dialog * {
    visibility: visible;
  }
}
</style>
