<template>
  <v-row>
    <v-col
      v-if="canEdit"
      cols="12"
      class="d-flex"
    >
      <v-spacer />
      <common-trs-btn
        type="secondary"
        class="mr-2 white--text"
        @click="printForm"
      >
        Print Form
      </common-trs-btn>
      <form-group-manage-forms
        :forms="forms"
        @save="save"
      >
        <template v-slot:activator="{ on }">
          <common-trs-btn
            type="secondary"
            outlined
            class="mr-2 primary--text"
            :disabled="forms.length===0"
            :pem-roles-allowed="[
              CONSTS.ISSUER_ROLE.SUPERADMIN,
            ]"
            v-on="on"
          >
            Manage Forms
          </common-trs-btn>
        </template>
      </form-group-manage-forms>
      <form-group-new-form
        :is-common="true"
        :form-filters="formFilters"
        :current-forms="forms"
        @add="add"
      >
        <template v-slot:activator="{ on }">
          <common-trs-btn
            type="primary"
            class="mr-0 white--text"
            :pem-roles-allowed="[
              CONSTS.ISSUER_ROLE.SUPERADMIN,
            ]"
            v-on="on"
          >
            Add Form
          </common-trs-btn>
        </template>
      </form-group-new-form>
    </v-col>
    <v-col
      v-if="forms.length === 0"
      cols="12"
      class="text-center"
    >
      <slot
        class="trsText--text text-h5"
        name="no-data"
      >
        No form data
      </slot>
    </v-col>
    <v-col
      v-if="forms.length > 0"
      v-show="!showPrintModal"
      sm="12"
      md="3"
    >
      <common-trs-list-tab-nav
        :value="internalValue"
        :menu-items="menuItems"
        @input="onTabListNavSelected"
      />
    </v-col>
    <v-col
      v-if="forms.length > 0"
      v-show="!showPrintModal"
      sm="12"
      md="9"
    >
      <v-tabs-items
        v-model="internalValue"
        :vertical="isDesktop"
      >
        <template
          v-for="(form, index) in forms"
        >
          <v-tab-item
            v-if="forms[index].formTempl && mode === 'edit'"
            :key="'tab'+index"
          >
            <form-templates-index
              :ref="`formTemplRefs${index}`"
              :template="forms[index].formTempl"
              :response="forms[index].response"
              :mode="forms[index].response.id ? 'edit' : 'create'"
              :next-btn-loading="saving"
              :api-services="apiServices"
              elevation="0"
              tabs-background-color="trsBack"
              @submit="(formData) => submitForm(index, formData)"
              @pre:submit="(formData) => submitForm(index, formData, true)"
            />
          </v-tab-item>
          <v-tab-item
            v-if="forms[index].formTempl && mode === 'view'"
            :key="'tab'+index"
          >
            <form-templates-index
              v-if="forms[index].response.response"
              :template="forms[index].formTempl"
              :response="forms[index].response"
              :mode="'view'"
              :next-btn-loading="saving"
              elevation="0"
              tabs-background-color="trsBack"
              :api-services="apiServices"
              @submit="(formData) => submitForm(index, formData)"
            />
            <div v-else>
              No form data
            </div>
          </v-tab-item>
        </template>
      </v-tabs-items>
    </v-col>
    <form-print-modal
      v-if="showPrintModal"
      v-model="showPrintModal"
    >
      <div>
        <form-templates-index
          v-if="forms[internalValue] && forms[internalValue].response && forms[internalValue].response.response"
          :template="forms[internalValue].formTempl"
          :response="forms[internalValue].response"
          :mode="'view'"
          :next-btn-loading="saving"
          elevation="0"
          tabs-background-color="trsBack"
          :api-services="apiServices"
          @submit="(formData) => submitForm(index, formData)"
        />
      </div>
    </form-print-modal>
  </v-row>
</template>

<script>
  import FormTemplatesIndex from '@/components/common/fmsvc/form-templates/Index'
  import FormGroupManageForms from './ManageForms'
  import FormGroupNewForm from './NewForm'
  import FormPrintModal from './FormPrintModal'

  export default {
    components: {
      FormTemplatesIndex,
      FormGroupManageForms,
      FormGroupNewForm,
      FormPrintModal,
    },

    props: {
      forms: {
        type: Array,
        required: true,
      },
      saving: {
        type: Boolean,
        required: true,
      },
      mode: {
        type: String,
        validate: (val) => ['create', 'edit', 'view'].indexOf(val) !== -1,
        default: 'edit',
      },
      canEdit: {
        type: Boolean,
        default: false,
      },
      apiServices: {
        type: Object,
        default: () => ({}),
      },
      formFilters: {
        type: Object,
        default: () => ({}),
      },
    },

    data () {
      return {
        internalValue: null,
        currentView: null,
        formTemplRefs: [],
        showPrintModal: false,
      }
    },

    computed: {
      menuItems () {
        return this.forms.map((form, index) => {
          return {
            id: index,
            label: form.formTempl ? form.formTempl.name : '',
          }
        })
      },
      isDesktop () {
        return this.$vuetify.breakpoint.mdAndUp
      },
    },

    watch: {
    },

    created () {
    },

    methods: {
      printForm () {
        this.showPrintModal = true
        this.togglePrintClass()
      },
      togglePrintClass () {
        if (this.showPrintModal) {
          document.body.classList.add('no-print')
          // document.getElementsByClassName('v-application--wrap').classList.add('no-print-hidden')
        } else {
          document.body.classList.remove('no-print')
          // document.getElementsByClassName('v-application--wrap').classList.remove('no-print-hidden')
        }
      },
      beforeRouteLeave (to, from, next) {
        if (this.$refs[`formTemplRefs${this.internalValue}`]) {
          const ref = this.$refs[`formTemplRefs${this.internalValue}`]
          if (ref && Array.isArray(ref) && ref.length > 0) {
            ref[0].beforeRouteLeave(to, from, next)
          }
        } else {
          next()
        }
      },
      onTabListNavSelected (newIndex) {
        const next = () => {
          this.internalValue = newIndex
        }
        this.beforeRouteLeave(null, null, next)
      },
      save (forms) {
        this.$emit('saveForms', forms)
      },
      add (form) {
        this.$emit('addForm', form)
      },
      submitForm (id, formData, slient) {
        this.$emit('saveForm', id, formData, slient)
      },
    },
  }
</script>

<style lang="scss" scoped>
  ::v-deep .v-tabs-items {
    background: transparent;
  }
  .tabs-container {
    border-top: 10px solid #000000;

    ::v-deep .v-slide-group__content {
      white-space: normal !important;
      width: 100%;
      .v-tab {
        height: auto !important;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
</style>
