<template>
  <v-dialog
    v-model="internalDialog"
    max-width="500"
  >
    <template v-slot:activator="{ on }">
      <slot
        name="activator"
        v-bind="{ on }"
      />
    </template>

    <common-trs-modal-card>
      <common-trs-modal-card-title>
        <common-trs-modal-card-title-content>
          Manage Forms
        </common-trs-modal-card-title-content>

        <common-trs-btn
          aria-label="Close"
          type="secondary"
          class="rounded-0"
          color="primary"
          size="large"
          icon
          text
          @click="close"
        >
          <v-icon>mdi-close</v-icon>
        </common-trs-btn>
      </common-trs-modal-card-title>
      <common-trs-modal-card-text>
        <draggable
          v-model="internalForms"
          class="ma-3"
          style="width: 100%;"
          :options="{ handle:'.drag-handle' }"
        >
          <v-col
            v-for="(form, index) in internalForms"
            :key="index"
            cols="12"
            class="pa-0 draggable-item px-4 py-2 d-flex justify-space-between align-center"
          >
            <div class="text-h4 muted indexing d-flex">
              <v-icon
                color="primary"
                class="drag-handle"
              >
                mdi-drag
              </v-icon>
              <span>{{ form.formTempl.name }}</span>
            </div>
            <common-trs-btn
              type="tertiary"
              icon
              color="error"
              @click="deleteItem(index)"
            >
              <v-icon>mdi-delete</v-icon>
            </common-trs-btn>
          </v-col>
        </draggable>
      </common-trs-modal-card-text>
    </common-trs-modal-card>
  </v-dialog>
</template>

<script>
  import draggable from 'vuedraggable'
  export default {
    name: 'CommonFromGroupReorderForms',

    components: {
      draggable,
    },

    props: {
      forms: {
        type: Array,
        required: true,
      },
    },

    data: () => ({
      internalDialog: false,
      internalForms: [],
    }),

    computed: {
    },

    watch: {
      internalDialog (val) {
        if (val) {
          this.internalForms = [...this.forms]
        }
      },
    },

    async created () {
    },

    methods: {
      deleteItem (index) {
        this.$root.$confirm({
          entity: null,
          message: 'Are you sure you want to delete this form ?',
          yesButton: 'Yes',
          noButton: 'No',
          maxWidth: 400,
        })
          .then(async (confirm) => {
            if (confirm) {
              this.internalForms.splice(index, 1)
              this.$emit('save', this.internalForms)
              if (this.internalForms.length === 0) {
                this.close()
              }
            }
          })
          .catch(() => {
          })
      },
      close () {
        this.internalDialog = false
      },
      async save () {
        this.$emit('save', this.internalForms)
      },
    },
  }
</script>

<style lang="scss" scoped>
  .drag-handle {
    cursor: move;
    cursor: -webkit-grabbing;
  }
</style>
