<template>
  <v-dialog
    v-model="internalDialog"
    max-width="500"
  >
    <template v-slot:activator="{ on }">
      <slot
        name="activator"
        v-bind="{ on }"
      />
    </template>

    <common-trs-modal-card>
      <common-trs-modal-card-title>
        <common-trs-modal-card-title-content>
          Add Form
        </common-trs-modal-card-title-content>

        <common-trs-btn
          aria-label="Close"
          type="secondary"
          class="rounded-0"
          color="primary"
          size="large"
          icon
          text
          @click="close"
        >
          <v-icon>mdi-close</v-icon>
        </common-trs-btn>
      </common-trs-modal-card-title>
      <common-trs-modal-card-text>
        <div class="ma-3">
          <common-app-entity-item-selector
            v-model="form"
            color="primary"
            :label="'Form'"
            validate-on-blur
            :entity="'forms'"
            :include="isCommon ? 'common' : 'both'"
            item-value="internal_name"
            return-object
            attach
            :pre-filters="formFilters"
          />
        </div>
      </common-trs-modal-card-text>
      <common-trs-modal-card-actions class="flex-row-reverse">
        <common-trs-btn
          type="primary"
          text
          class="white--text"
          :disabled="!form"
          :loading="adding"
          @click="add"
        >
          Add
        </common-trs-btn>
      </common-trs-modal-card-actions>
    </common-trs-modal-card>
  </v-dialog>
</template>

<script>
  import * as formsSrvc from '@/components/common/services/forms'

  export default {
    name: 'CommonFromGroupNewForm',

    components: {
    },

    props: {
      isCommon: {
        type: Boolean,
      },
      formFilters: {
        type: Object,
        default: () => ({}),
      },
      currentForms: {
        type: Array,
        default: () => ([]),
      },
    },

    data: () => ({
      internalDialog: false,
      form: null,
      adding: false,
    }),

    computed: {
    },

    watch: {
      internalDialog (val) {
        if (val) {
          this.form = null
          this.adding = false
        }
      },
    },

    async created () {
    },

    methods: {
      close () {
        this.internalDialog = false
      },
      isAlreadyIncluded () {
        return this.currentForms
          .map(form => form.internal_name)
          .indexOf(this.form.internal_name) !== -1
      },
      async add () {
        if (this.isAlreadyIncluded()) {
          // show error
          return this.$store.commit('app/showMessage', { text: 'That form was already added.', color: 'error' })
        }
        this.adding = true
        const form = await formsSrvc.getFormById(this.form.internal_name, { base: 'common' })
        this.adding = false
        this.$emit('add', form)
        this.internalDialog = false
      },
    },
  }
</script>
<style lang="scss" scoped>
  ::v-deep .v-dialog {
    overflow-y: visible;
  }
</style>
