<template>
  <v-row
    v-if="internalValue && allowedValidations.length > 0"
    dense
  >
    <v-col cols="12">
      <v-subheader class="text-h4">
        Custom Validation
      </v-subheader>
    </v-col>

    <v-col
      v-for="(validation, index) in allowedValidations"
      :key="index"
      cols="6"
      md="3"
    >
      <common-input-checkbox
        v-if="validation.type === 'checkbox'"
        v-model="internalValue[validation.key]"
        :disabled="disabled"
        :label="validation.label"
        validate-on-blur
      />
    </v-col>
  </v-row>
</template>

<script>
  import { FORM_DEF_INPUT_TYPE } from '@/constants'

  const VALIDATION_VISIBILITY = [
    {
      key: 'isSSN',
      type: 'checkbox',
      label: 'Is SSN?',
      validTypes: [
        FORM_DEF_INPUT_TYPE.TEXT,
      ],
    },
    {
      key: 'numberOnly',
      type: 'checkbox',
      label: 'Numbers Only?',
      validTypes: [
        FORM_DEF_INPUT_TYPE.TEXT,
      ],
    },
    {
      key: 'email',
      type: 'checkbox',
      label: 'Email Only?',
      validTypes: [
        FORM_DEF_INPUT_TYPE.TEXT,
      ],
    },
  ]
  export default {
    name: 'DashboardFormsBuilderEditCustomValidation',

    components: {
    },

    props: {
      value: {
        validate: () => true,
        required: true,
      },
      type: {
        type: String,
        default: '',
      },
      disabled: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
    }),

    computed: {
      allowedValidations () {
        return VALIDATION_VISIBILITY.filter(val => val.validTypes.indexOf(this.type) !== -1)
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    watch: {
      value: {
        handler (val) {
          if (!val) {
            this.internalValue = {}
          }
        },
        immediate: true,
      },
    },

    methods: {
      forceUpdate () {
        this.internalValue = { ...this.internalValue }
      },
    },
  }
</script>
