<template>
  <v-row dense>
    <v-col
      sm="6"
    >
      <validation-provider
        v-slot="{ errors }"
        rules="required"
        :name="'lSection'"
      >
        <common-input-select
          v-model="internalValue.lsection"
          label="lSection"
          color="primary"
          clearable
          item-text="name"
          item-value="id"
          :items="availableSections"
          :error-messages="errors"
          validate-on-blur
          @change="forceUpdate"
        />
      </validation-provider>
    </v-col>
    <v-col
      sm="6"
    >
      <validation-provider
        v-slot="{ errors }"
        rules="required"
        :name="'lValue'"
      >
        <common-input-select
          v-model="internalValue.lvalue"
          label="lValue"
          color="primary"
          :disabled="disabled"
          clearable
          item-text="id"
          item-value="id"
          :items="availableLValues"
          :error-messages="errors"
          validate-on-blur
          @change="forceUpdate"
        />
      </validation-provider>
    </v-col>
    <v-col
      v-if="internalValue.lvalue"
      sm="6"
    >
      <form-templates-input-template
        :input-templ="selectSectionDef"
        :section-values="{ [internalValue.lvalue]: internalValue.rvalue }"
        :is-common="isCommon"
        @update="updateRValue"
        @change="forceUpdate"
      />
    </v-col>
    <v-col
      sm="12"
    >
      <validation-provider
        v-slot="{ errors }"
        rules="required"
        :name="'Expr'"
      >
        <common-input-select
          v-model="internalValue.expr"
          label="Expr"
          color="primary"
          clearable
          item-text="text"
          item-value="value"
          :items="CONSTS.FORM_BRANCH_EXPRS"
          :error-messages="errors"
          validate-on-blur
          @change="forceUpdate"
        />
      </validation-provider>
    </v-col>
  </v-row>
</template>

<script>
  import FormTemplatesInputTemplate from '@/components/common/fmsvc/form-templates/InputTemplate'

  export default {
    name: 'DashboardFormsBuilderEditDefinitionVisiblity',

    components: {
      FormTemplatesInputTemplate,
    },

    props: {
      sections: {
        type: Array,
        default: () => [],
      },
      value: {
        type: Object,
        required: true,
      },
      isCommon: {
        type: Boolean,
        default: false,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
    }),

    computed: {
      selectSectionDef () {
        const secDef = this.availableLValues.find(v => v.id === this.internalValue.lvalue) || {}

        return {
          ...secDef,
          label: 'rValue',
          ctrlVisibility: false,
          mandatory: true,
          multiple: false,
        }
      },
      availableSections () {
        return this.sections
          .filter(sec => sec.id)
      },
      availableLValues () {
        if (this.internalValue.lsection) {
          const section = this.sections.find(sec => sec.id === this.internalValue.lsection)
          return section ? section.definition : []
        } else {
          return []
        }
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    watch: {
    },

    methods: {
      forceUpdate () {
        this.internalValue = { ...this.internalValue }
      },
      updateRValue (section, newSectionValues, multipleId) {
        this.internalValue.rvalue = newSectionValues
        this.internalValue = { ...this.internalValue }
      },
    },
  }
</script>
