<template>
  <v-dialog
    v-model="internalDialog"
    :persistent="true"
    scrollable
  >
    <template v-slot:activator="{ on }">
      <slot
        name="activator"
        v-bind="{ on }"
      />
    </template>

    <common-trs-modal-card>
      <common-trs-modal-card-title>
        <v-toolbar-title>{{ current.id ? 'Edit' : 'Create' }} Section</v-toolbar-title>

        <common-trs-btn
          aria-label="Close"
          type="secondary"
          class="rounded-0"
          color="primary"
          size="large"
          icon
          text
          @click="close"
        >
          <v-icon>mdi-close</v-icon>
        </common-trs-btn>
      </common-trs-modal-card-title>

      <edit-section
        v-model="current"
        :mode="mode"
        :disabled="disabled"
        :sections="sections"
        :is-modal="true"
        @save="saveAndClose"
        @close="close"
      />
    </common-trs-modal-card>
  </v-dialog>
</template>

<script>
  import EditSection from './EditSection'

  export default {
    name: 'DashboardFormbuilderSectionsEditSection',

    components: {
      EditSection,
    },

    props: {
      current: {
        type: Object,
        required: true,
      },
      mode: {
        type: String,
        default: 'persist',
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      sections: {
        type: Array,
        default: () => [],
      },
    },

    data: () => ({
      internalDialog: false,
    }),

    computed: {
    },

    async created () {
    },

    methods: {
      close () {
        this.internalDialog = false
      },
      saveAndClose (item) {
        this.$emit('update', item)
        this.internalDialog = false
      },
    },
  }
</script>

<style lang="sass">
</style>
