<template>
  <v-dialog
    v-model="internalDialog"
    max-width="500"
  >
    <template v-slot:activator="{ on }">
      <slot
        name="activator"
        v-bind="{ on }"
      />
    </template>

    <common-trs-modal-card>
      <common-trs-modal-card-title>
        <common-trs-modal-card-title-content>
          Add Section
        </common-trs-modal-card-title-content>

        <common-trs-btn
          aria-label="Close"
          type="secondary"
          class="rounded-0"
          color="primary"
          size="large"
          icon
          text
          @click="close"
        >
          <v-icon>mdi-close</v-icon>
        </common-trs-btn>
      </common-trs-modal-card-title>
      <common-trs-modal-card-text>
        <div class="ma-3">
          <common-app-entity-item-selector
            v-model="section"
            color="primary"
            :label="'Section'"
            validate-on-blur
            :entity="'sections'"
            :include="isCommon ? 'common' : 'both'"
            return-object
          />
        </div>
      </common-trs-modal-card-text>
      <common-trs-modal-card-actions>
        <common-trs-btn
          class="mr-3 primary--text"
          type="tertiary"
          text
          @click="addEmpty"
        >
          Add Empty Section
        </common-trs-btn>

        <common-trs-btn
          type="primary"
          text
          class="white--text"
          :disabled="!section"
          :loading="adding"
          @click="add"
        >
          Add
        </common-trs-btn>
      </common-trs-modal-card-actions>
    </common-trs-modal-card>
  </v-dialog>
</template>

<script>
  import * as sectionsSrvc from '@/components/common/services/sections'
  import { v4 as uuidv4 } from 'uuid'

  export default {
    name: 'DashboardFormbuilderSectionsEditFormAddSectionModal',

    components: {
    },

    props: {
      isCommon: {
        type: Boolean,
      },
    },

    data: () => ({
      internalDialog: false,
      section: null,
      adding: false,
    }),

    computed: {
    },

    watch: {
      internalDialog (val) {
        if (val) {
          this.section = null
          this.adding = false
        }
      },
    },

    async created () {
    },

    methods: {
      close () {
        this.internalDialog = false
      },
      async add () {
        this.adding = true
        const section = await sectionsSrvc.getSectionById(this.section.id, { base: this.section.source })
        this.adding = false
        this.$emit('add', {
          ...sectionsSrvc.createNewSection(),
          branch: [],
          ...section,
          id: uuidv4(),
        })
        this.internalDialog = false
      },
      addEmpty () {
        this.$emit('add', {
          ...sectionsSrvc.createNewSection(),
          branch: [],
          id: uuidv4(),
        })
        this.internalDialog = false
      },
    },
  }
</script>

<style lang="scss" scoped>
  ::v-deep .v-dialog {
    overflow-y: visible;
  }
</style>
