<template>
  <validation-observer
    ref="observer"
    v-slot="{ valid }"
    class="trs-card__text-action-wrapper"
  >
    <v-card-title
      v-if="!isModal"
      class="pa-0"
    >
      <h3 class="trsText--text text-h3 mb-3">
        {{ isNew ? 'Create' : 'Edit' }} Section
      </h3>
    </v-card-title>
    <common-trs-modal-card-text
      :class="{
        'pa-0': !isModal
      }"
    >
      <v-row no-gutters>
        <v-col cols="12">
          <validation-provider
            v-slot="{ errors }"
            rules="required"
            :name="'Name'"
          >
            <common-input-text-field
              v-model="wipValue.name"
              label="Name"
              :disabled="isDisabled"
              :error-messages="errors"
              color="primary"
              validate-on-blur
            />
          </validation-provider>
        </v-col>
        <v-col cols="12">
          <validation-provider
            v-slot="{ errors }"
            rules=""
            :name="'Description'"
          >
            <common-input-text-field
              v-model="wipValue.description"
              :disabled="isDisabled"
              :error-messages="errors"
              color="primary"
              :label="'Description (optional)'"
              validate-on-blur
            />
          </validation-provider>
        </v-col>

        <v-col cols="12">
          <v-expansion-panels
            class="mt-2"
            accordion
          >
            <draggable
              v-model="wipValue.definition"
              :disabled="isDisabled"
              style="width: 100%;"
              :options="{ handle:'.page-drag-handle' }"
            >
              <v-expansion-panel
                v-for="(def, ind) in wipValue.definition"
                :key="ind"
              >
                <edit-section-definition
                  v-model="wipValue.definition[ind]"
                  :disabled="isDisabled"
                  :index="ind"
                  :is-common="isCommon"
                  :sections="sections"
                  @removeDefAt="removeDefAt"
                />
              </v-expansion-panel>
            </draggable>
          </v-expansion-panels>
          <common-trs-btn
            :disabled="isDisabled"
            class="mb-4"
            type="secondary"
            block
            @click="add"
          >
            Add
          </common-trs-btn>
        </v-col>
      </v-row>
    </common-trs-modal-card-text>

    <common-trs-modal-card-actions
      :class="{
        'pa-0': !isModal
      }"
    >
      <common-trs-btn
        text
        medium
        type="tertiary"
        :class="{
          'ma-0': !isModal,
          'mx-2': isModal
        }"
        @click="close"
      >
        Close
      </common-trs-btn>
      <common-trs-btn
        v-if="!isDisabled"
        type="primary"
        text
        medium
        class="white--text"
        :class="{
          'ma-0': !isModal,
          'mx-4': isModal,
        }"
        :disabled="!valid"
        :loading="loading"
        @click="save"
      >
        Save
      </common-trs-btn>
      <common-trs-btn
        v-if="mode === 'persist'"
        type="primary"
        text
        medium
        class="white--text"
        :class="{
          'ma-0': !isModal,
          'mx-4': isModal,
        }"
        :disabled="!valid || isDisabled"
        :loading="publishing"
        @click="publish"
      >
        {{ isDisabled ? 'Published' : 'Publish' }}
      </common-trs-btn>
    </common-trs-modal-card-actions>
  </validation-observer>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { api } from '@/api'
  import draggable from 'vuedraggable'
  import Proxyable from 'vuetify/lib/mixins/proxyable'
  import EditSectionDefinition from './EditSectionDefinition'

  export default {
    name: 'DashboardFormbuilderSectionsEditSection',

    components: {
      draggable,
      EditSectionDefinition,
    },

    mixins: [Proxyable],

    props: {
      value: {
        type: Object,
        required: true,
        default: () => {},
      },
      isCommon: {
        type: Boolean,
      },
      mode: {
        type: String,
        validate: (val) => ['temp', 'persist'],
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      sections: {
        type: Array,
        default: () => [],
      },
      isNew: {
        required: false,
      },
      isModal: {
        type: Boolean,
      },
    },

    data: () => ({
      loading: false,
      publishing: false,
      wipValue: null,
      itemModified: true,
      portal: '',
    }),

    computed: {
      ...mapGetters({
        tenant: 'auth/tenant',
      }),
      isDisabled () {
        return (this.wipValue &&
          (this.wipValue.is_published || this.wipValue.is_archived)) ||
          this.disabled ||
          (this.isCommon && this.portal === this.CONSTS.PORTAL.FID_ADMIN)
      },
    },

    watch: {
    },

    async created () {
      this.wipValue = { ...this.value }
      this.portal = this.$getPortal()
    },

    methods: {
      beforeRouteLeave (to, from, next) {
        if (this.$refs.observer && this.$refs.observer.flags.dirty) {
          this.$root.$confirm({
            entity: null,
            message: 'There are unsaved changes on this page. Do you wish to save?',
            yesButton: 'Save Now',
            noButton: 'No',
            maxWidth: 400,
          })
            .then(async (confirm) => {
              if (confirm) {
                await this.save()
                next()
              }
            })
            .catch(() => {
              next()
            })
        } else {
          next()
        }
      },
      close () {
        this.$emit('close')
      },
      async publish () {
        this.$refs.observer.reset()
        this.publishing = true
        try {
          await this.doSave()
          await api.patch(`sections/${this.wipValue.id}`, { is_published: true }, { base: this.isCommon ? 'common' : '' })
          this.wipValue.is_published = true
          this.itemModified = false
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to publish section',
          })
        }
        this.publishing = false
      },
      async save () {
        this.$refs.observer.reset()
        if (this.mode === 'temp') {
          this.$emit('save', this.wipValue)
        } else {
          this.loading = true
          this.wipValue.base = this.isCommon ? 'common' : this.tenant
          try {
            await this.doSave()
            this.$emit('save', this.wipValue)
          } catch (err) {
            this.$store.dispatch('app/handleError', {
              err,
              message: 'Failed to save section',
            })
          }
          this.loading = false
        }
      },
      async doSave () {
        if (this.wipValue.id) {
          // eslint-disable-next-line
          const apiResponse = await api.put(`sections/${this.wipValue.id}`, this.wipValue, { base: this.isCommon ? 'common' : '' })
        } else {
          const apiResponse = await api.post('sections', this.wipValue, { base: this.isCommon ? 'common' : '' })
          this.wipValue.id = apiResponse.data.id
        }
      },
      add () {
        this.wipValue.definition = this.wipValue.definition.concat([{
          id: '',
          input: 'text',
          label: '',
          regex: '',
          mandatory: false,
          validation: {},
        }])
      },
      removeDefAt (idx) {
        this.wipValue.definition = this.wipValue.definition.filter((i, x) => x !== idx)
      },
    },
  }
</script>

<style lang="scss" scoped>
  .common-input-select {
    ::v-deep .common-input-select__selections {
      text-transform: none;
    }
  }
  .page-drag-handle, .item-drag-handle {
    cursor: move;
    cursor: -webkit-grabbing;
  }
</style>
