<template>
  <validation-observer
    v-slot="props"
  >
    <v-expansion-panel-header
      expand-icon="mdi-menu-down"
      dense
      class="pa-1"
    >
      <div>
        <v-icon
          color="primary"
          class="branch-drag-handle"
        >
          mdi-drag
        </v-icon>
        {{ index + 1 }} - Branch
      </div>
      <div>
        <div class="text-right">
          <common-trs-btn
            type="tertiary"
            :disabled="disabled"
            color="error"
            icon
            text
            @click.stop="$emit('removeBranchAt', index)"
          >
            <v-icon>mdi-delete</v-icon>
          </common-trs-btn>
          <v-btn
            x-small
            :color="props.valid ? 'success' : 'error'"
            dark
            fab
          />
        </div>
      </div>
    </v-expansion-panel-header>
    <v-expansion-panel-content>
      <v-row dense>
        <v-col
          sm="6"
        >
          <validation-provider
            v-slot="{ errors }"
            rules="required"
            :name="'lSection'"
          >
            <common-input-select
              v-model="internalValue.lsection"
              label="lSection"
              color="primary"
              clearable
              item-text="name"
              item-value="id"
              :disabled="disabled"
              :items="availableSections"
              :error-messages="errors"
              validate-on-blur
            />
          </validation-provider>
        </v-col>
        <v-col
          sm="6"
        >
          <validation-provider
            v-slot="{ errors }"
            rules="required"
            :name="'lValue'"
          >
            <common-input-select
              v-model="internalValue.lvalue"
              label="lValue"
              color="primary"
              clearable
              item-text="id"
              :disabled="disabled"
              item-value="id"
              :items="availableLValues"
              :error-messages="errors"
              validate-on-blur
            />
          </validation-provider>
        </v-col>
        <v-col
          v-if="internalValue.lvalue"
          sm="6"
        >
          <form-templates-input-template
            :input-templ="selectSectionDef"
            :section-values="{ [internalValue.lvalue]: internalValue.rvalue }"
            :is-common="isCommon"
            :disabled="disabled"
            @update="updateRValue"
          />
        </v-col>
        <v-col
          sm="12"
        >
          <validation-provider
            v-slot="{ errors }"
            rules="required"
            :name="'Expr'"
          >
            <common-input-select
              v-model="internalValue.expr"
              label="Expr"
              color="primary"
              :disabled="disabled"
              clearable
              item-text="text"
              item-value="value"
              :items="CONSTS.FORM_BRANCH_EXPRS"
              :error-messages="errors"
              validate-on-blur
            />
          </validation-provider>
        </v-col>
        <v-col cols="6">
          <validation-provider
            v-slot="{ errors }"
            rules="required"
            :name="'Next'"
          >
            <common-input-select
              v-model="internalValue.next"
              label="Next"
              color="primary"
              clearable
              :disabled="disabled"
              item-text="name"
              item-value="id"
              :items="availableSectionsToNext"
              :error-messages="errors"
              validate-on-blur
            />
          </validation-provider>
        </v-col>
      </v-row>
    </v-expansion-panel-content>
  </validation-observer>
</template>

<script>
  import FormTemplatesInputTemplate from '@/components/common/fmsvc/form-templates/InputTemplate'

  export default {
    name: 'DashboardFormsBuilderEditFormSectionBranch',

    components: {
      FormTemplatesInputTemplate,
    },

    props: {
      sections: {
        type: Array,
        default: () => [],
      },
      section: {
        validate: () => true,
      },
      value: {
        type: Object,
        required: true,
      },
      index: {
        type: Number,
      },
      isCommon: {
        type: Boolean,
        default: false,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
    }),

    computed: {
      selectSectionDef () {
        const secDef = this.availableLValues.find(v => v.id === this.internalValue.lvalue) || {}

        return {
          ...secDef,
          label: 'rValue',
          mandatory: true,
          multiple: false,
        }
      },
      availableSectionsToNext () {
        return this.sections
          .filter(sec => sec.id)
          .filter(sec => sec.id !== this.section.id)
      },
      availableSections () {
        return this.sections
          .filter(sec => sec.id)
      },
      availableLValues () {
        if (this.internalValue.lsection) {
          const section = this.sections.find(sec => sec.id === this.internalValue.lsection)
          return section ? section.definition : []
        } else {
          return []
        }
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    watch: {
    },

    methods: {
      updateRValue (section, newSectionValues, multipleId) {
        this.internalValue.rvalue = newSectionValues
        this.internalValue = { ...this.internalValue }
      },
    },
  }
</script>
