<template>
  <validation-observer
    v-slot="{ valid }"
  >
    <v-expansion-panel-header expand-icon="mdi-menu-down">
      <div>
        <v-icon
          color="primary"
          class="page-drag-handle"
        >
          mdi-drag
        </v-icon>
        {{ index + 1 }} - {{ internalValue.name }}
      </div>
      <div>
        <div class="text-right">
          <common-app-confirm
            title="Delete Confirmation"
            message="Are you sure to delete the section?"
            yes-button="Yes"
            no-button="Cancel"
            :entity="internalValue"
            @yes="$emit('removeDefAt', index)"
          >
            <template v-slot:activator="{ on }">
              <common-trs-btn
                :disabled="disabled"
                type="tertiary"
                class="mr-1 rounded-0"
                color="error"
                icon
                text
                v-on="on"
              >
                <v-icon>mdi-delete</v-icon>
              </common-trs-btn>
            </template>
          </common-app-confirm>
          <edit-section-modal
            :current="internalValue"
            :mode="'temp'"
            :disabled="disabled"
            :sections="sections"
            @update="update"
          >
            <template v-slot:activator="{ on }">
              <common-trs-btn
                v-if="!disabled"
                type="tertiary"
                color="success"
                icon
                text
                class="mr-2"
                v-on="on"
              >
                <v-icon>mdi-pencil</v-icon>
              </common-trs-btn>
            </template>
          </edit-section-modal>
          <edit-section-modal
            :current="internalValue"
            :mode="'temp'"
            :disabled="disabled"
            :sections="sections"
            @update="update"
          >
            <template v-slot:activator="{ on }">
              <common-trs-btn
                v-if="disabled"
                type="tertiary"
                color="success"
                icon
                text
                class="mr-2"
                v-on="on"
              >
                <v-icon>mdi-eye</v-icon>
              </common-trs-btn>
            </template>
          </edit-section-modal>
          <v-btn
            small
            :color="valid ? 'success' : 'error'"
            dark
            fab
          />
        </div>
      </div>
    </v-expansion-panel-header>
    <v-expansion-panel-content>
      <v-row dense>
        <v-col cols="6">
          <validation-provider
            v-slot="{ errors }"
            :rules="{ required: true, notOneOf: getBlackListKeys(internalValue) }"
            :name="'Key'"
          >
            <common-input-text-field
              v-model="internalValue.key"
              :disabled="disabled"
              :error-messages="errors"
              color="primary"
              :label="'Unique Key'"
              validate-on-blur
            />
          </validation-provider>
        </v-col>
        <v-col
          cols="6"
          class="d-flex justify-space-between align-center"
        >
          <validation-provider
            v-slot="{ errors }"
            :name="'Multiple'"
          >
            <common-input-switch
              v-model="internalValue.multiple"
              :disabled="disabled"
              label="Multiple"
              :error-messages="errors"
            />
          </validation-provider>
          <validation-provider
            v-if="internalValue.multiple"
            v-slot="{ errors }"
            :rules="{ required: internalValue.multiple }"
            :name="'Multiple Entity Name'"
            class="flex-fill ml-4"
          >
            <common-input-text-field
              v-model="internalValue.entityLabel"
              :disabled="disabled"
              :label="'Multiple Entity Name'"
              placeholder="Response"
              :error-messages="errors"
              validate-on-blur
            />
          </validation-provider>
        </v-col>
        <v-col cols="6">
          <validation-provider
            v-slot="{ errors }"
            :name="'Next'"
          >
            <common-input-select
              v-model="internalValue.next"
              label="Default Next Section"
              color="primary"
              :disabled="disabled"
              clearable
              item-text="name"
              item-value="id"
              :items="availableSections"
              :error-messages="errors"
              validate-on-blur
              hint="Next section when no branch matches (optional)"
            />
          </validation-provider>
        </v-col>
        <v-col cols="6">
          <validation-provider
            v-slot="{ errors }"
            :name="'next'"
          >
            <common-input-switch
              v-model="internalValue.bulkUpload"
              :disabled="disabled"
              label="Is bulk(file) upload allowed?"
              :error-messages="errors"
            />
          </validation-provider>
        </v-col>

        <v-col cols="12">
          <v-expansion-panels
            class="mt-2"
            accordion
          >
            <draggable
              v-model="internalValue.branch"
              :disabled="disabled"
              style="width: 100%;"
              :options="{ handle:'.branch-drag-handle' }"
            >
              <v-expansion-panel
                v-for="(branch, ind) in internalValue.branch"
                :key="ind"
              >
                <edit-form-section-branch
                  v-model="internalValue.branch[ind]"
                  :disabled="disabled"
                  :index="ind"
                  :sections="sections"
                  :section="internalValue"
                  :is-common="isCommon"
                  @removeBranchAt="removeBranchAt"
                />
              </v-expansion-panel>
            </draggable>
          </v-expansion-panels>
          <common-trs-btn
            :disabled="disabled"
            class="mb-4 white--text"
            type="secondary"
            text
            outlined
            block
            @click="addBranch"
          >
            Add Branch
          </common-trs-btn>
        </v-col>
      </v-row>
    </v-expansion-panel-content>
  </validation-observer>
</template>

<script>
  import {
  } from '@/constants'
  import EditFormSectionBranch from './EditFormSectionBranch'
  import draggable from 'vuedraggable'
  import EditSectionModal from './EditSectionModal'

  const defaultBranch = {
    lvalue: '',
    rvalue: '',
    expr: '',
    next: '',
  }
  export default {
    name: 'DashboardFormsBuilderEditFormSection',

    components: {
      draggable,
      EditFormSectionBranch,
      EditSectionModal,
    },

    props: {
      sections: {
        type: Array,
        default: () => [],
      },
      value: {
        type: Object,
        required: true,
      },
      index: {
        type: Number,
      },
      isCommon: {
        type: Boolean,
        default: false,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
    },

    data: () => ({
    }),

    computed: {
      availableSections () {
        return this.sections
          .filter(sec => sec.id)
          .filter(sec => sec.id !== this.internalValue.id)
      },
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    watch: {
    },

    methods: {
      update (section) {
        for (const key in section) {
          this.internalValue[key] = section[key]
        }
      },
      // onSectionChanged (section) {
      //   debugger
      //   if (!this.disabled) {
      //     for (const key in section) {
      //       this.internalValue[key] = section[key]
      //     }
      //     this.internalValue.branch = []
      //   }
      // },
      addBranch () {
        this.internalValue.branch = this.internalValue.branch.concat([{ ...defaultBranch }])
      },
      removeBranchAt (idx) {
        this.internalValue.branch = this.internalValue.branch.filter((i, x) => x !== idx)
      },
      getBlackListKeys (section) {
        return this.sections
          .filter(sec => sec.id)
          .filter(sec => sec.id !== section.id)
          .map(sec => sec.key)
          .filter(key => key)
      },
    },
  }
</script>
