<template>
  <common-input-select
    v-model="internalValue"
    v-bind="$attrs"
    :items="sections"
    item-text="name"
    item-value="id"
    :loading="loading"
    v-on="$listeners"
    @change="changeSection"
  />
</template>

<script>
  import { mapState } from 'vuex'
  export default {
    name: 'BaseFormBuilderSectionSelector',

    props: {
      value: {
        required: true,
        validator: v => true,
      },
      isCommon: {
        type: Boolean,
      },
    },

    computed: {
      ...mapState('sections', {
        sections: 'sections',
        loading: 'loading',
      }),
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },

    created () {
      this.$store.dispatch('sections/loadSections', { isCommon: this.isCommon })
    },

    methods: {
      changeSection (val) {
        const newSection = this.sections.find(sec => sec.id === val)
        this.$emit('changeSection', newSection)
      },
    },
  }
</script>
