<template>
  <common-trs-filter-card
    class="mb-2"
    :has-more-filters="false"
  >
    <template v-slot:primary-filter="{ }">
      <common-input-text-field
        v-model="internalValue.name"
        class="trs-filter-input"
        label="Search by Name"
        color="primary"
        clearable
        hide-details
        single-line
        prepend-inner-icon="mdi-magnify"
      />
    </template>
    <template v-slot:actions>
      <slot name="actions" />
    </template>
  </common-trs-filter-card>
</template>
<script>
  export default {
    name: 'SectionFilter',

    components: {
    },

    props: {
      value: {
        type: Object,
        default: () => {},
      },
      hideFilters: {
        type: Array,
        default: () => [],
      },
    },

    data: () => ({
    }),

    computed: {
      internalValue: {
        get () {
          return this.value
        },
        set (val) {
          this.$emit('input', val)
        },
      },
    },
  }
</script>
