<template>
  <common-page-loader v-if="loading" />
  <common-trs-page-container
    v-else
    id="sections"
  >
    <template v-slot:page-content>
      <common-trs-card
        class="pa-4"
      >
        <template v-slot:after-heading>
          <div class="trsText--text text-h3 font-weight-light">
            {{ isNew ? 'Create' : 'Edit' }} Section
          </div>
        </template>

        <edit-section
          ref="editSection"
          v-model="section"
          :is-common="isCommon"
          :is-new="isNew"
          @save="save"
          @close="close"
        />
      </common-trs-card>
    </template>
  </common-trs-page-container>
</template>

<script>
  // import { api } from '@/api'
  import EditSection from './components/EditSection'
  import * as sectionsSrvc from '@/components/common/services/sections'

  export default {
    name: 'DashboardFormbuilderEditSection',

    components: {
      EditSection,
    },

    data: () => ({
      loading: false,
      section: null,
    }),

    computed: {
      sectionId () {
        return this.$route.params.id
      },
      isNew () {
        return !this.sectionId
      },
      source () {
        return this.$route.query.source
      },
      cloneId () {
        return this.$route.query.cloneId
      },
      isCommon () {
        return this.source === this.CONSTS.FORM_COMMON
      },
    },

    watch: {
      sectionId () {
        this.loadData()
      },
    },

    beforeRouteLeave (to, from, next) {
      this.$refs.editSection.beforeRouteLeave(to, from, next)
    },

    async created () {
      this.loadData()
    },

    methods: {
      async loadData () {
        this.loading = true

        if (this.isNew) {
          this.section = sectionsSrvc.createNewSection(this.source)
          if (this.cloneId) {
            const cloneSection = await sectionsSrvc.getSectionById(this.cloneId, { base: this.isCommon ? 'common' : '' })

            const nonAllowed = ['id', 'is_published', 'is_archived']
            for (const key in cloneSection) {
              if (nonAllowed.indexOf(key) === -1) {
                this.section[key] = cloneSection[key]
              }
            }
            this.section.name = cloneSection.name + ' copy'
          }
        } else {
          try {
            this.section = await sectionsSrvc.getSectionById(this.sectionId, { base: this.isCommon ? 'common' : '' })
          } catch (err) {
            // handle err
            this.$router.push({ name: 'FormBuilder.Sections' })
            this.$store.dispatch('app/handleError', {
              err,
              message: 'Invalid Section',
            })
          }
        }

        this.loading = false
      },
      save (editedSection) {
        this.$store.dispatch('app/message', { text: 'Saved.' })
      },
      close () {
        this.$router.push({ name: 'FormBuilder.Sections' })
      },
    },
  }
</script>

<style lang="sass">
</style>
