<template>
  <!-- <common-page-loader v-if="loading" /> -->
  <common-trs-page-container>
    <template v-slot:page-content>
      <common-trs-page-header title="Sections" />
      <section-filter
        v-model="filters"
      >
        <template v-slot:actions>
          <div class="d-flex align-center justify-space-between">
            <common-trs-btn
              type="secondary"
              large
              :to="{ name: 'FormBuilder.CreateSection', query: { source: isCommon ? CONSTS.FORM_COMMON : '' } }"
              @click="create"
            >
              <v-icon>
                mdi-plus
              </v-icon>
              New Section
            </common-trs-btn>
            <common-input-switch
              v-model="isCommon"
              :disabled="CONSTS.API_DEFAULT_SERVICE !== 'tenant'"
              class="mr-5"
              :label="`Common`"
            />
          </div>
        </template>
      </section-filter>
      <common-trs-card class="trs-table-container-card">
        <common-trs-data-table
          :headers="headers"
          :items="sections"
          :options.sync="options"
          :server-items-length="totalCount"
          :loading="loading"
        >
          <template v-slot:item.is_published="{ item }">
            <div class="text-center">
              <v-icon
                v-if="item.is_published"
                small
              >
                mdi-check
              </v-icon>
            </div>
          </template>
          <template v-slot:item.actions="{ item }">
            <!-- <edit-section-modal
              :current="item"
              @update="update"
            >
              <template v-slot:activator="{ on }">
                <common-trs-btn
                  class="mr-2"
                  color="success"
                  fab
                  x-small
                  v-on="on"
                >
                  <v-icon
                    small
                    dark
                  >
                    mdi-pencil
                  </v-icon>
                </common-trs-btn>
              </template>
            </edit-section-modal> -->
            <v-tooltip bottom>
              <template v-slot:activator="{ on: tooltip }">
                <common-trs-btn
                  class="mx-1 rounded-0"
                  color="primary"
                  type="secondary"
                  icon
                  text
                  :to="{ name: 'FormBuilder.EditSection', params: { id: item.id }, query: { source: isCommon ? CONSTS.FORM_COMMON : '' } }"
                  v-on="tooltip"
                >
                  <v-icon
                    small
                    dark
                  >
                    {{ item.is_published ? 'mdi-eye' : 'mdi-pencil' }}
                  </v-icon>
                </common-trs-btn>
              </template>
              <span>{{ item.is_published ? 'View' : 'View/Edit' }}</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <common-trs-btn
                  class="mx-1 rounded-0"
                  color="primary"
                  type="secondary"
                  icon
                  text
                  :to="{ name: 'FormBuilder.CreateSection', query: { source: isCommon ? CONSTS.FORM_COMMON : '', cloneId: item.id } }"
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon
                    small
                    dark
                  >
                    {{ 'mdi-content-copy' }}
                  </v-icon>
                </common-trs-btn>
              </template>
              <span>Copy section</span>
            </v-tooltip>
            <common-app-confirm
              title="Delete Confirmation"
              message="Are you sure to delete the section?"
              yes-button="Yes"
              no-button="No"
              :entity="item"
              @yes="deleteItem"
            >
              <template v-slot:activator="{ on }">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on: tooltip }">
                    <common-trs-btn
                      :disabled="item.is_published ||
                        (isCommon && portal === CONSTS.PORTAL.FID_ADMIN)"
                      class="mx-1 rounded-0"
                      color="error"
                      type="secondary"
                      icon
                      text
                      v-on="{...on, ...tooltip}"
                    >
                      <v-icon
                        small
                        dark
                      >
                        mdi-delete
                      </v-icon>
                    </common-trs-btn>
                  </template>
                  <span>Delete</span>
                </v-tooltip>
              </template>
            </common-app-confirm>
          </template>

          <template v-slot:no-data>
            <!-- <common-trs-btn color="primary" @click="initialize">Reset</common-trs-btn> -->
            <span> No Results Found. </span>
          </template>
        </common-trs-data-table>
      </common-trs-card>
    </template>
  </common-trs-page-container>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { api } from '@/api'
  // import EditSectionModal from './components/EditSectionModal'
  import * as sectionsSrvc from '@/components/common/services/sections'
  import debounce from 'lodash.debounce'

  export default {
    name: 'DashboardFormbuilderSections',

    components: {
      // EditSectionModal,
      SectionFilter: () => import('./components/SectionFilter'),
    },

    data: () => ({
      loading: false,
      newSection: {},

      options: {},
      sections: [],
      totalCount: 0,
      headers: [
        { text: 'Name', value: 'name' },
        { text: 'Description', value: 'description', sortable: false },
        { text: 'Published', value: 'is_published', sortable: false },
        { text: 'Actions', value: 'actions', sortable: false, width: '160px' },
      ],
      isCommon: true,
      filters: {},
      portal: '',
    }),

    computed: {
      ...mapGetters({
        tenant: 'auth/tenant',
      }),
    },

    watch: {
      options: {
        handler () {
          this.loadData()
        },
        deep: true,
      },
      filters: {
        handler: debounce(function (val) {
          this.options.page = 1
          this.loadData()
        }, 500),
        deep: true,
      },
      isCommon (val) {
        this.options.page = 1
        this.loadData()
      },
    },

    async created () {
      this.portal = this.$getPortal()
    },

    methods: {
      async deleteItem (ev, item) {
        this.loading = true
        try {
          await api.delete(`sections/${item.id}`, { base: this.isCommon ? 'common' : '' })
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to delete section',
          })
        }
        await this.loadData()
        this.loading = false
      },
      update (item) {
        this.loadData()
        this.newSection = {}
      },
      create () {
        this.newSection = sectionsSrvc.createNewSection()
      },
      async loadData () {
        this.loading = true
        try {
          const resp = await sectionsSrvc.getSections({
            ...this.options,
            filters: this.filters,
            query: ['id', 'name', 'description', 'is_published'],
          }, { base: this.isCommon ? 'common' : '' })
          this.totalCount = resp.count
          this.sections = resp.results
        } catch (err) {
          this.$store.dispatch('app/handleError', {
            err,
            message: 'Failed to load sections',
          })
        }
        this.loading = false
      },
    },
  }
</script>

<style lang="sass">
</style>
